#particles-js {
  height: 100hv;
  width: 100%;
  position: fixed;
  z-index: -2;
}

.navtop {
  top: 8px;
  width: 90%;
  margin: auto;
  border-radius: 6px;
  transition: top 200ms ease-in-out;
}

.navtop.scroll-up,
.navtop:focus-within {
  top: 8px;
}

.navtop.scroll-down {
  top: -100%;
}

.navtop-link {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
  font-style: oblique;
  color: rgba(255,255,255,0.8)
}
.navtop-link:hover {
  text-decoration: underline;
  color: white;
  text-shadow: 5px -5px 4px #ffff;
}

.notificaciones {
  position: absolute;
  z-index: 100;
  top: 65px;
  right: 10px;
  width: 400px;
}

.lista_notificaciones {
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  text-align: center;
  color:white;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: rgb(25, 25, 25);
}

.bg-light {
  background-color: rgb(25, 25, 25);
}

.custom-color {
  background-color: rgb(25, 25, 25);
}