/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 5px 5px 5px 2px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 20rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 20rem;
}

/* Servicios */
.servicios .col-lg-3 {
    margin-bottom: 1.5rem;
    text-align: center;
    animation-name: servicios;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.servicios .col-lg-3:hover{
    transform: scale(1.1);
}
.servicios h1 {
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 20px;
    text-shadow: 0 0 3px;
}
.servicios h2 {
    font-weight: 400;
    text-shadow: 0 0 3px;
}
.servicios p {
    font-weight: 400;
    text-shadow: 0 0 3px;
}

@keyframes servicios {
    0% {
        transform: scale(.7)
    }
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
    }
}

@media (min-width: 62em) {
.featurette-heading {
    margin-top: 7rem;
    }
}
  