.fondo {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.contenedor {
    top: 40px;
    position: relative;
    padding-bottom: 150px;    
    bottom: -100px;
}

.cartel {
    border: solid 1px rgba(238, 241, 20, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 15px 5px rgba(238, 241, 20, 0.4);
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
    font-weight: bolder;
    color:rgb(0, 0, 0)
}
.cartel:hover {
    cursor: default;
}

.letras {
    text-align: center;
    font-weight: bolder; 
    text-shadow: 0 0 3px red, 0 0 6px yellow; 
    color: black;
}
.letras:hover {
    color: white;
    transform: scale(1.2);
    cursor: default;
}

.participants-frame {
    margin: 30px;
    max-height: calc(100vh - 180px);
    min-height: calc(100vh - 180px);
    position: relative;     
    overflow:hidden; 
    overflow-y: scroll;
    border: solid 1px rgba(150, 136, 73, 0.8);
    border-radius: 15px;
    background-color: rgba(189, 165, 59, 0.5);
    /*backdrop-filter: blur(5px);*/
    box-shadow: 0 0 3px red, 0 0 6px yellow;
}

#spinner {
    display: flex;    
    margin: auto; 
    margin-top: 200px;   
}

.participants-list {
    list-style: none;
    padding: 10px;
}

.alive {
    font-weight: bolder; 
    text-shadow: 0 0 3px red, 0 0 6px yellow;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: radial-gradient(circle at 0% 5%, black, green, black);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    margin: 1px;
    animation-name: lista;
    animation-duration: 0.5s;
}
.alive:hover {
    border-color: gold;
    transform: scale(1.1);
    cursor: crosshair;
}

.dead {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-image: radial-gradient(circle at 0% 5%, black, red, black);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    margin: 1px;
    animation-name: lista;
    animation-duration: 0.5s;
}
.dead:hover {
    cursor:not-allowed;
    transform: scale(0.9);
}

.col-2 img {
    display: flex;
    align-items: center;
    margin: auto; 
}

.col-12 img {
    border-radius: 25px;
    margin: auto;
    animation-play-state: paused;
    animation-name: imagen;
    animation-duration: 1200ms;    
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.col-12 img:hover {
    cursor: crosshair;
    animation-play-state: running;
}
.izquierda {
    transition: 2s;
    transform: scale(1.3);
    margin-left: 90%;
}

.mainframe {
    position: relative;
}
.frame {
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    filter: alpha(opacity=100);
    opacity: 1;
}
.playframe {
    -webkit-transform: rotate(720deg) scale(0);
    -moz-transform: rotate(720deg) scale(0);
    -o-transform: rotate(720deg) scale(0);
    -ms-transform: rotate(720deg) scale(0);
    transform: rotate(720deg) scale(0);
    filter: alpha(opacity=0);
    opacity: 0;    
}

.result {
    position: absolute;
    top: 50vh;
    width: 100%;
    background-color: rgba(77,44,35,0.8);
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.playresult {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg);
    -moz-transform: translateY(0px) rotate(0deg);
    -o-transform: translateY(0px) rotate(0deg);
    -ms-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
@keyframes lista {
    0% {
        transform: scale(.3);
    }
}

@keyframes part-frame {
    10% {
        transform: scale(1.2)
    }
    100% {        
        transform: scale(0);
    }
}

@keyframes frame {
    0% {
        transform: scale(1.6)
    }
    50% {
        margin-left: 60px;
    }
}

@keyframes imagen {
    0% {
        transform: scale(.95)
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}