{% extends "web/base.html" %}
{% load static %}
{% block title %} - Chating{% endblock %}
{% block header %}
<header>
  <nav class="navtop navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'sorteo:index' %}">Sorteo</a>
          </li>
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'portal:dashboard' %}">Portal</a>
          </li>   
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'sync:control' %}">Control</a>
          </li>              
          {% endif %}
          <li class="nav-item">
            <a class="navtop-link mx-3" href="https://login.qbared.com">Internet</a>
          </li>              
        </ul>
        {% if user.is_authenticated %}    
          <a class="mx-2" style="text-decoration: none" href="{% url 'portal:dashboard' %}">
            <p class="text-white mx-2 fs-5 fst-italic m-auto">{{ user}}, {{ user.profile.coins }} coins</p>
          </a>              
          <img id="boton_notificaciones" class="img-fluid rounded mx-2" style="width: 50px; height: 50px; cursor: pointer;" src="{{ user.profile.imagen.url }}" alt="imagen_de_perfil">
            <span id="notificaciones_nuevas" class="bot-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
            </span>
          </img>                
          <a class="btn btn-sm btn-outline-danger mx-2" href="{% url 'users:logout' %}">Salir</a>
        {% else %}
          <a class="btn btn-sm btn-outline-warning mx-2" href="{% url 'users:login' %}">Entrar</a>
          <a class="btn btn-sm btn-outline-info mx-2" href="{% url 'users:register' %}">Registrarse</a>
        {% endif %}
      </div>
    </div>
  </nav>      
</header>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'chat/style.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="col-12 col-md-10 col-lg-8 col-xl-6 m-auto mt-5 p-3 bg-white">
    <div class="row">
        <div class="col-md-4 bg-white" style="height: 500px; overflow: auto;">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
                <p class="text-center">Usuarios</p>
            </div>
            <ul class="friend-list" style="overflow: auto;">
                {% for usuario in usuarios %}        
                {% if usuario != request.user %}
                <li class="active bounceInDown">
                    <a href="{% url 'chat:room' usuario.username %}" class="clearfix">
                        <img src="{{ usuario.profile.imagen.url }}" alt="" class="img-circle">
                        <div class="friend-name">	
                            <strong>{{ usuario.username}}</strong>
                        </div>
                        <div class="last-message text-muted">Hello, Are you there?</div>
                        <small class="time text-muted">Just now</small>
                        <small class="chat-alert label label-danger">1</small>
                    </a>
                </li>
                {% endif %}
                {% endfor %}                
            </ul>
        </div>
        <div class="col-md-8 bg-white m-auto">
            {% if chat_id %}
            <div class="chat-message p-1" style="height: 500px; overflow: auto;">
                <ul class="chat">                        
                </ul>
            </div>
            <div class="chat-box bg-white">
                <div class="input-group">
                    <input id="chat-message-input" class="form-control border no-shadow no-rounded" placeholder="Escriba su mensaje...">
                    <span class="input-group-btn">
                        <button id="chat-message-submit" class="btn btn-success no-rounded" type="button">Enviar</button>
                    </span>
                </div>
            </div>     
            {% else %}
            <div class="m-auto">Seleccione con quiere chatear para empezar!!!</div>       
            {% endif %}
        </div>
    </div>
</div>
{% if chat_id %}
{{ chat_id|json_script:"chat_id" }}
{{ request.user.profile.imagen.url|json_script:"img_src" }}
{{ img_url|json_script:"img_url" }}
<script src="{% static 'sorteo/reconnecting-websocket.js' %}"></script> 
<script>
    const chat_id = JSON.parse(document.getElementById('chat_id').textContent);
    const img_src = JSON.parse(document.getElementById('img_src').textContent);
    const img_url = JSON.parse(document.getElementById('img_url').textContent);

    const chatSocket = new ReconnectingWebSocket('ws://127.0.0.1:8000/ws/chat/' + chat_id + '/');

    chatSocket.onopen = function(e) {
        console.log("SOCKET CONECTADO");
        chatSocket.send(JSON.stringify({               
            'accion': 'mensajes',
            'data': {
                'usuario': 'iVan',
                'id': chat_id,
            }
        }))
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data['accion'] === 'mensajes') {
            var mensajes = data['mensajes']
            var list = document.querySelector('.chat');
            while (list.firstChild) {
                list.removeChild(list.firstChild);
            }
            var mensajes = mensajes.map(mensajes => {
                var parListTag = document.createElement('li');
                if (mensajes.autor === usuario) {
                    parListTag.className = "right clearfix";
                    var span = document.createElement('span');
                    span.className = 'chat-img pull-right';
                    var img = document.createElement('img');
                    img.src = img_src
                    var div1 = document.createElement('div');
                    div1.className = 'chat-body clearfix';
                    var div2 = document.createElement('div');
                    div2.className = 'header';
                    var strong = document.createElement('strong');
                    strong.className = 'primary-font';
                    strong.textContent = mensajes.autor;
                    var small = document.createElement('small');
                    small.className = 'pull-right text-muted';
                    small.textContent = mensajes.fecha;
                    var contenido = document.createElement('p');
                    contenido.textContent = mensajes.contenido;
                    contenido.className = 'text-end'
                    div2.appendChild(small);
                    div2.appendChild(strong);
                    div1.appendChild(div2);
                    div1.appendChild(contenido);
                    span.appendChild(img)
                    parListTag.appendChild(span);
                    parListTag.appendChild(div1);
                } else {
                    parListTag.className = "left clearfix";
                    var span = document.createElement('span');
                    span.className = 'chat-img pull-left';
                    var img = document.createElement('img');
                    img.src = img_url
                    var div1 = document.createElement('div');
                    div1.className = 'chat-body clearfix';
                    var div2 = document.createElement('div');
                    div2.className = 'header';
                    var strong = document.createElement('strong');
                    strong.className = 'primary-font';
                    strong.textContent = mensajes.autor;
                    var small = document.createElement('small');
                    small.className = 'pull-right text-muted';
                    small.textContent = mensajes.fecha;
                    var contenido = document.createElement('p');
                    contenido.textContent = mensajes.contenido;
                    contenido.className = 'text-start'
                    div2.appendChild(small);
                    div2.appendChild(strong);
                    div1.appendChild(div2);
                    div1.appendChild(contenido);
                    span.appendChild(img)
                    parListTag.appendChild(span);
                    parListTag.appendChild(div1);
                }
                document.querySelector('.chat').appendChild(parListTag);
            })
        } else {
            var mensaje = data['mensaje']
            var parListTag = document.createElement('li');
            if (mensaje.autor === usuario) {
                parListTag.className = "right clearfix";
                var span = document.createElement('span');
                span.className = 'chat-img pull-right';
                var img = document.createElement('img');
                img.src = img_src
                var div1 = document.createElement('div');
                div1.className = 'chat-body clearfix';
                var div2 = document.createElement('div');
                div2.className = 'header';
                var strong = document.createElement('strong');
                strong.className = 'primary-font';
                strong.textContent = mensaje.autor;
                var small = document.createElement('small');
                small.className = 'pull-right text-muted';
                small.textContent = mensaje.fecha;
                var contenido = document.createElement('p');
                contenido.textContent = mensaje.contenido;
                contenido.className = 'text-end'
                div2.appendChild(small);
                div2.appendChild(strong);
                div1.appendChild(div2);
                div1.appendChild(contenido);
                span.appendChild(img)
                parListTag.appendChild(span);
                parListTag.appendChild(div1);
            } else {
                parListTag.className = "left clearfix";
                var span = document.createElement('span');
                span.className = 'chat-img pull-left';
                var img = document.createElement('img');
                img.src = img_url
                var div1 = document.createElement('div');
                div1.className = 'chat-body clearfix';
                var div2 = document.createElement('div');
                div2.className = 'header';
                var strong = document.createElement('strong');
                strong.className = 'primary-font';
                strong.textContent = mensaje.autor;
                var small = document.createElement('small');
                small.className = 'pull-right text-muted';
                small.textContent = mensaje.fecha;
                var contenido = document.createElement('p');
                contenido.textContent = mensaje.contenido;
                contenido.className = 'text-start'
                div2.appendChild(small);
                div2.appendChild(strong);
                div1.appendChild(div2);
                div1.appendChild(contenido);
                span.appendChild(img)
                parListTag.appendChild(span);
                parListTag.appendChild(div1);
            }
            document.querySelector('.chat').appendChild(parListTag);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'accion': 'mensaje_nuevo',
            'data': {
                'usuario': usuario,
                'id': chat_id,
                'mensaje': message
            }
        }));
        messageInputDom.value = '';
    };
</script>
{% endif %}
{% endblock %}