{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="row p-3">
    <div class="col-6 col-md-5 m-auto">
        <div class="card">
            <h5 class="card-header text-white bg-dark">Internet</h5>
            <div class="card-body">
                <div class="row p-1">
                    <h6 class="card-title col-12 col-md-8">
                        Estado del servicio:
                    </h6>
                    <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    <!-- {% if servicio.internet %}
                        <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger col-8 col-md-4 m-auto text-center">Fuera de línea</span>
                    {% endif %} -->
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Ultimo chequeo:</p>
                    <p class="card-text col-12 col-md-6 text-center">{{ tiempo|date:"Y-m-d-H-m-s" }}</p>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Dirección:</p>
                    <p class="card-text col-12 col-md-6 text-center"><a href="https://login.qbared.com">https://login.qbared.com</a></p>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row p-1">             
                    <p class="card-text col-12 col-md-6">Mi cuenta:</p>                        
                    {% if servicio.internet %}
                        <span class="badge rounded-pill bg-success col-auto col-md-3 m-auto text-center">Activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:internet' %}">Detalles</a>
                        {% else %}
                        <span class="badge rounded-pill bg-danger col-auto col-md-3 m-auto text-center">No activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:internet' %}">Activar</a>
                    {% endif %}                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-5 m-auto">
        <div class="card">
            <h5 class="card-header text-white bg-dark">Joven Club</h5>
            <div class="card-body">
                <div class="row p-1">
                    <h6 class="card-title col-12 col-md-8">
                        Estado del servicio:
                    </h6>
                    <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                        <!-- {% if servicio.jc %}
                        <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger col-8 col-md-4 m-auto text-center">Fuera de línea</span>
                    {% endif %} -->
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Ultimo chequeo:</p>
                    <p class="card-text col-12 col-md-6 text-center">{{ tiempo }}</p>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Más información:</p>
                    <p class="card-text col-12 col-md-6 text-center"><a href="{% url 'web:jc' %}">Click aquí</a></p>
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">             
                    <p class="card-text col-12 col-md-6">Mi cuenta:</p>                        
                    {% if servicio.jc %}
                        <span class="badge rounded-pill bg-success col-auto col-md-3 m-auto text-center">Activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:jovenclub' %}">Detalles</a>
                        {% else %}
                        <span class="badge rounded-pill bg-danger col-auto col-md-3 m-auto text-center">No activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:jovenclub' %}">Activar</a>
                    {% endif %}                    
                </div>            
            </div>
        </div>
    </div>
</div>
<div class="row p-3">
    <div class="col-6 col-md-5 m-auto">
        <div class="card">
            <h5 class="card-header text-white bg-dark">Emby</h5>
            <div class="card-body">
                <div class="row p-1">
                    <h6 class="card-title col-12 col-md-8">
                        Estado del servicio:
                    </h6>
                    <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                        <!-- {% if servicio.emby %}
                        <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger col-8 col-md-4 m-auto text-center">Fuera de línea</span>
                    {% endif %} -->
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Ultimo chequeo:</p>
                    <p class="card-text col-12 col-md-6 text-center">{{ tiempo }}</p>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Más información:</p>
                    <p class="card-text col-12 col-md-6 text-center"><a href="{% url 'web:emby' %}">Click aquí</a></p>
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">             
                    <p class="card-text col-12 col-md-6">Mi cuenta:</p>                        
                    {% if servicio.emby %}
                        <span class="badge rounded-pill bg-success col-auto col-md-3 m-auto text-center">Activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:emby' %}">Detalles</a>
                        {% else %}
                        <span class="badge rounded-pill bg-danger col-auto col-md-3 m-auto text-center">No activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:emby' %}">Activar</a>
                    {% endif %}                    
                </div>             
            </div>
        </div>
    </div>
    <div class="col-6 col-md-5 m-auto">
        <div class="card">
            <h5 class="card-header text-white bg-dark">FileZilla</h5>
            <div class="card-body">
                <div class="row p-1">
                    <h6 class="card-title col-12 col-md-8">
                        Estado del servicio:
                    </h6>
                    <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    <!-- {% if servicio.ftp %}
                        <span class="badge rounded-pill bg-success col-8 col-md-4 m-auto text-center">En línea</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger col-8 col-md-4 m-auto text-center">Fuera de línea</span>
                    {% endif %} -->
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Ultimo chequeo:</p>
                    <p class="card-text col-12 col-md-6 text-center">{{ tiempo }}</p>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row p-1">
                    <p class="card-text col-12 col-md-6">Más información:</p>
                    <p class="card-text col-12 col-md-6 text-center"><a href="{% url 'web:ftp' %}">Click aquí</a></p>
                </div>
                <hr class="dropdown-divider" />
                <div class="row p-1">             
                    <p class="card-text col-12 col-md-6">Mi cuenta:</p>                        
                    {% if servicio.ftp %}
                        <span class="badge rounded-pill bg-success col-auto col-md-3 m-auto text-center">Activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:filezilla' %}">Detalles</a>
                        {% else %}
                        <span class="badge rounded-pill bg-danger col-auto col-md-3 m-auto text-center">No activa</span>
                        <a class="col-auto col-md-3 m-auto text-center" href="{% url 'portal:filezilla' %}">Activar</a>
                    {% endif %}                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container col-11 m-auto p-3">
    {% if mensaje %}
    <div class="alert alert-warning text-center" role="alert">                   
        {{ mensaje }}                   
    </div>               
    {% endif %}
    <div class="card">
        <h5 class="card-header text-white bg-dark">Mis datos:</h5>        
        <div class="card-body">
            <div class="row">
                <div class="col-7 col-md-8 col-lg-9">
                    <h5 class="card-title">Sincronización de perfil:</h5>
                </div>
                <div class="col-5 col-md-4 col-lg-3">
                    <p class="card-text d-flex justify-content-end">
                        {% if perfil.sync %}
                        Sincronizado
                        <form id="myform" action="{% url 'portal:sync_perfil' %}" method="POST">
                            {% csrf_token%}
                            <button id="boton" class="form-control btn btn-info" type="submit">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                                Chequear
                            </button>
                        </form>
                        {% else %}
                        Incorrecto
                        <form id="myform" action="{% url 'portal:sync_perfil' %}" method="POST">
                            {% csrf_token%}
                            <button id="boton" class="form-control btn btn-danger" type="submit">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                                Sincronizar
                            </button>
                        </form>
                        {% endif %}
                    </p>
                </div>
                
            </div>            
            <h5 class="card-title">Mis coins:</h5>
            <p class="card-text d-flex justify-content-end">{{ perfil.coins }}</p>
            <h5 class="card-title">Nombre de usuario:</h5>
            <p class="card-text d-flex justify-content-end">{{ usuario.username }}</p>
            <h5 class="card-title">Correo:</h5>
            <p class="card-text d-flex justify-content-end">{{ usuario.email }}</p>
            {% if usuario.first_name %}
            <h5 class="card-title">Nombre y apellidos:</h5>
            <p class="card-text d-flex justify-content-end">{{ usuario.first_name }} {{ usuario.last_name }}</p>
            {% endif %}
            <h5 class="card-title">Ultima sesión:</h5>
            <p class="card-text d-flex justify-content-end">{{ usuario.last_login }}</p>
            <h5 class="card-title">Fecha de registro:</h5>
            <p class="card-text d-flex justify-content-end">{{ usuario.date_joined }}</p>            
            <a class="d-flex justify-content-end" href="{% url 'portal:perfil' %}">Editar</a>
        </div>
    </div>
</div>
<div class="container col-11 m-auto p-3">
    <div class="card">
        <h5 class="card-header text-white bg-dark">Sorteos:</h5>
        <div class="card-body">
            <h5 class="card-title">Ganador mes abril:</h5>
            <p class="card-text d-flex justify-content-end">Erick.Roche</p>
            <h5 class="card-title">Ganador mes mayo:</h5>
            <p class="card-text d-flex justify-content-end">tsunami</p>
        </div>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock contenido %}