{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="servicios">
    <div class="servicio caja">
        <div class="row">
            <div class="col-9 nombre"><i class="fab fa-internet-explorer text-primary"></i> Internet</div>
            <div class="col-3 estado text-center">
                {% if conexion.internet and  conexion.online %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="row">
            <div class="col-9 cuenta"><i class="fas fa-user-circle mx-1"></i> Mi cuenta</div>
            <div class="col-3 estado text-center">
                {% if user.estadoservicio.internet %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />        
        <div class="click text-center"><a class="stretched-link" href="{% url 'portal:internet' %}"><i class="fas fa-info-circle"></i> Click para detalles</a></div>
    </div>
    <div class="servicio caja">
        <div class="row">
            <div class="col-9 nombre"><i class="fas fa-network-wired"></i> Joven Club</div>
            <div class="col-3 estado text-center">
                {% if conexion.jc %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="row">
            <div class="col-9 cuenta"><i class="fas fa-user-circle mx-1"></i> Mi cuenta</div>
            <div class="col-3 estado text-center">
                {% if user.estadoservicio.jc %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="click text-center"><a class="stretched-link" href="{% url 'portal:jovenclub' %}"><i class="fas fa-info-circle"></i> Click para detalles</a></div>
    </div>
    <div class="servicio caja">
        <div class="row">
            <div class="col-9 nombre"><i class="fas fa-tv"></i> Emby</div>
            <div class="col-3 estado text-center">
                {% if conexion.emby %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="row">
            <div class="col-9 cuenta"><i class="fas fa-user-circle mx-1"></i> Mi cuenta</div>
            <div class="col-3 estado text-center">
                {% if user.estadoservicio.emby %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="click text-center"><a class="stretched-link" href="{% url 'portal:emby' %}"><i class="fas fa-info-circle"></i> Click para detalles</a></div>
    </div>
    <div class="servicio caja">
        <div class="row">
            <div class="col-9 nombre"><i class="fas fa-copy"></i> FileZilla</div>
            <div class="col-3 estado text-center">
                {% if conexion.ftp %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="row">
            <div class="col-9 cuenta"><i class="fas fa-user-circle mx-1"></i> Mi cuenta</div>
            <div class="col-3 estado text-center">
                {% if user.estadoservicio.ftp %}
                <i class="fas fa-check-square text-success"></i>
                {% else %}
                <i class="fas fa-power-off text-danger"></i>
                {% endif %}
            </div>
        </div>
        <hr class="dropdown-divider" />
        <div class="click text-center"><a class="stretched-link" href="{% url 'portal:filezilla' %}"><i class="fas fa-info-circle"></i> Click para detalles</a></div>
    </div>
</div>
<div class="row justify-content-end">    
    <h6 class="col-auto card-header caja titulo">Ultimo chequeo <i class="far fa-calendar-check"></i> {{ conexion.fecha_internet|date:"d/m/Y-H:m" }}</h6>
</div>
{% if mensaje %}
<div class="alert alert-{{ color_msg }} text-center col-8 m-auto" role="alert">                   
    {{ mensaje }}                  
</div>               
{% endif %}
<div class="row datos m-auto mt-4">
    <div class="col-12 col-md-6 col-lg-4 mb-4 usuario">
        <div class="p-2 caja" style="background: #fff;">
            <div class="cardHeader">
                <h3 class="titulo"><i class="fas fa-id-card-alt"></i> Mis datos:</h3>
                <a class="btn btn-outline-info" href="{% url 'portal:perfil' %}">Editar</a>
            </div>
            <hr class="dropdown-divider" />
            <div class="cardHeader my-1">
                <p class="titulo">Sincronización de perfil:</p>
                {% if user.profile.sync %}
                <form id="myform" action="{% url 'portal:sync_perfil' %}" method="POST">
                    {% csrf_token%}
                    <button id="boton" class="btn btn-outline-success" type="submit">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                        <span><i class="fas fa-check-square text-success"></i></span> Chequear
                    </button>
                </form>
                {% else %}
                Incorrecto
                <form id="myform" action="{% url 'portal:sync_perfil' %}" method="POST">
                    {% csrf_token%}
                    <button id="boton" class="form-control btn btn-danger" type="submit">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                        <span><i class="fas fa-power-off text-danger"></i></span> Sincronizar
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Nombre de usuario:</p>
                <p class="texto">{{ user.username }}</p>
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Correo:</p>
                <p class="texto">{{ user.email }}</p>
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Nombre y apellidos:</p>
                {% if user.first_name %}
                <p class="texto">{{ user.first_name }} {{ user.last_name }}</p>
                {% else %}
                <p><i class="far fa-question-circle"></i></p>
                {% endif %}
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Ultima sesión:</p>
                <p class="texto">{{ user.last_login }}</p>
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Fecha de registro:</p>
                <p class="texto">{{ user.date_joined }}</p>
            </div>
        </div>
    </div>    
    <div class="col-12 col-md-6 col-lg-4 mb-4 opciones">
        <div class="p-2 caja" style="background: #fff;">
            <div class="cardHeader titulo">
                <h3><i class="fas fa-cog"></i> Ajustes(pronto):</h3>
            </div>
            <hr class="dropdown-divider" />
            <div class="cardHeader my-1">
                <p class="titulo">Notificarme 3 dias antes</p>
                <p class="texto"><i class="fas fa-toggle-on"></i></p>
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Recibir notificaciones al telegram</p>
                <p class="texto"><i class="fas fa-toggle-off"></i></p>
            </div>
            <div class="cardHeader my-1">
                <p class="titulo">Recibir notificaciones</p>
                <p class="texto"><i class="fas fa-toggle-on"></i></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4 sorteos">
        <div class="p-2 caja" style="background: #fff;">
            <div class="cardHeader titulo">
                <h3><i class="fas fa-gift"></i> Sorteos:</h3>
            </div>
            <hr class="dropdown-divider" />
            {% for s in sorteos %}
            <div class="cardHeader my-1">
                <p class="titulo">Ganador mes: {{ s.mes }}</p>
                <p class="texto">{% if s.ganador == none %}<i class="far fa-question-circle"></i>{% else %}{{ s.ganador }}{% endif %}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')
    myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
    })
</script>
{% endblock contenido %}