{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="row my-1">    
    <div class="col-10 col-md-8 m-auto">
        <div class="card">
            <div class="card-header">
                FILEZILLA - {{ user }}
            </div>
            <div class="card-body">
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mis coins</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">{{ perfil.coins }} coins</h5>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mi cuenta</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.ftp %}
                        <span class="badge rounded-pill bg-success">Activa</span>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">No activa</span>
                        {% endif %}
                    </h5>
                </div>
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Sincronizada:</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.sync %}
                        <span class="badge rounded-pill bg-success">OK</span>
                        <form id="myform_sync" action="{% url 'portal:sync_servicio' 'internet' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton_sync" type="submit" class="btn btn-outline-info">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner_sync" style='display: none'></span>
                                Check
                            </button>
                        </form>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">OFF</span>
                        <form id="myform_sync" action="{% url 'portal:sync_servicio' 'internet' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton_sync" type="submit" class="btn btn-outline-info">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner_sync" style='display: none'></span>
                                Sincronizar
                            </button>
                        </form>
                        {% endif %}
                    </h5>
                </div>
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Restante</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.ftp_time %}
                            {{ servicio.ftp_time}}
                        {% else %}
                            -
                        {% endif %}
                    </h5>
                </div>  
                <hr class="dropdown-divider" /> 
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Activación automática</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.ftp_auto %}
                        <span class="badge rounded-pill bg-success">ON</span>
                        <form id="myform_auto" action="{% url 'portal:auto' 'filezilla' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton_auto" type="submit" class="btn btn-outline-danger">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner_auto" style='display: none'></span>
                                Desactivar
                            </button>
                        </form>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">OFF</span>
                        <form action="{% url 'portal:auto' 'filezilla' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton" type="submit" class="btn btn-outline-success">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                                Activar
                            </button>
                        </form>
                        {% endif %}
                    </h5>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-10 col-md-8 m-auto text-center">
        {% if mensaje %}
        <div class="alert alert-warning text-center my-2" role="alert">                   
            {{ mensaje }}                   
        </div>               
        {% endif %}
        <div class="card my-3">
            <div class="card-header">
                Costo:
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mensual</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">50 coins</h5>
                </div>      
            </div>
        </div>       
        {% if not servicio.ftp %}
        <h4>Activar el servicio FileZilla:</h4>
        <form id="myform" action="{% url 'portal:filezilla' %}" method="post">
            
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="col-5 col-md-4 input-group-text" id="inputGroup-sizing-default">Contraseña</span>
                <input type="password" name="contra" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>              
            <button id="boton" type="submit" class="form-control btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                Activar
            </button>            
        </form>
        {% endif %}
    </div>
</div>
<div class="row py-5">
    <div class="col-10 col-md-8 m-auto text-center">
        <div class="card">
            <div class="card-header">Información:</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">El programa y las instrucciones para usarlo están <a href="{% url 'web:ftp' %}">-->aquí<--</a></li>
                    <li class="list-group-item">No olvide si activa el servicio tiene la oportunidad de ganar el sorteo del mes usando el código, mas información <a href="{% url 'sorteo:index' %}">-->aquí<--</a>.</li>
                    <li class="list-group-item">Duda y sugerencias, escribir a la administración.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
    const myform_sync = document.getElementById("myform_sync");
    myform_sync.addEventListener("submit", (e) => {       
        document.getElementById('spinner_sync').style.display = 'inline-block';
        document.getElementById('boton_sync').disabled=true;
    });
    const myform_auto = document.getElementById("myform_auto");
    myform_auto.addEventListener("submit", (e) => {       
        document.getElementById('spinner_auto').style.display = 'inline-block';
        document.getElementById('boton_auto').disabled=true;
    });
</script>
{% endblock contenido %}