{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="row my-1">    
    <div class="col-10 col-md-8 m-auto">
        <div class="card">
            <div class="card-header">
                JOVEN CLUB - {{ user }}
            </div>
            <div class="card-body">
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mis coins</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">{{ perfil.coins }} coins</h5>
                </div> 
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mi cuenta</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.jc %}
                        <span class="badge rounded-pill bg-success">Activa</span>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">No activa</span>
                        {% endif %}
                    </h5>
                </div>
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Sincronizada:</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        <form action="{% url 'portal:sync_servicio' 'jovenclub' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton" type="submit" class="btn btn-outline-info">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                                Sincronizar
                            </button>
                        </form>
                    </h5>
                </div>
                <hr class="dropdown-divider" />
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Restante</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.jc_time %}
                            {{ servicio.jc_time}}
                        {% else %}
                            -
                        {% endif %}
                    </h5>
                </div>  
                <hr class="dropdown-divider" /> 
                <div class="row my-1">
                    <h5 class="col-6 card-title d-flex justify-content-start">Activación automática</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">
                        {% if servicio.jc_auto %}
                        <span class="badge rounded-pill bg-success">ON</span>
                        <form action="{% url 'portal:auto' 'jovenclub' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton" type="submit" class="btn btn-outline-danger">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                                Desactivar
                            </button>
                        </form>
                        {% else %}
                        <span class="badge rounded-pill bg-danger">OFF</span>
                        <form action="{% url 'portal:auto' 'jovenclub' %}" method="POST">
                            {% csrf_token %}
                            <button id="boton" type="submit" class="btn btn-outline-success">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                                Activar
                            </button>
                        </form>
                        {% endif %}
                    </h5>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-10 col-md-8 m-auto text-center">
        <div class="card my-3">
            <div class="card-header">
                Costo:
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="col-6 card-title d-flex justify-content-start">Mensual</h5>
                    <h5 class="col-6 card-title d-flex justify-content-end">100 coins</h5>
                </div>      
            </div>
        </div>
        {% if not servicio.jc %}
        <h4>Activar el servicio Joven Club:</h4>
        <form id="myform" action="{% url 'portal:jovenclub' %}" method="post">
            {% if mensaje %}
                <div class="alert alert-warning text-center" role="alert">                   
                    {{ mensaje }}                   
                </div>               
            {% endif %}
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="col-5 col-md-4 input-group-text" id="inputGroup-sizing-default">Contraseña</span>
                <input type="password" name="contra" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>    
            <button id="boton" type="submit" class="form-control btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                Activar
            </button>            
        </form>
        {% endif %}
    </div>
</div>
<div class="row py-5">
    <div class="col-10 col-md-8 m-auto text-center">
        <div class="card">
            <div class="card-header">Información:</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Las instrucciones para usarlo están <a href="{% url 'web:jc' %}">-->aquí<--</a></li>
                    <li class="list-group-item">Cuando active el servicio por primera vez debe escribirle al Yanky.</li>
                    <li class="list-group-item">No olvide si activa el servicio tiene la oportunidad de ganar el sorteo del mes usando el código, mas información <a href="{% url 'sorteo:index' %}">-->aquí<--</a>.</li>
                    <li class="list-group-item">Duda y sugerencias, escribir a la administración.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock contenido %}