{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="row m-2 p-5">
    <div class="col-8 col-md-5 m-auto text-center caja" style="max-width: 300px; background: #fff;">
        <div class="cardHeader titulo">
            <h3 class="titulo m-1 p-1">Agrege coins a su cuenta:</h3>            
        </div> 
        <hr class="dropdown-divider" />
        <form class="p-2" id="myform" action="{% url 'portal:recarga' %}" method="post">            
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="col-auto input-group-text" id="inputGroup-sizing-default">Código</span>
                <input type="number" name="code" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>              
            <button id="boton" type="submit" class="form-control btn btn-outline-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
                Recargar
            </button>            
        </form>
    </div>
</div>
<div class="row py-5">
    <div class="col-10 col-md-8 m-auto text-center caja" style="background: #fff;">
        <div class="cardHeader titulo">
            <h3 class="titulo m-1 p-1">Información:</h3>            
        </div>
        <div class="p-2 texto">
            <ul class="list-group">
                <li class="list-group-item">El código de recarga consiste en 8 números.</li>
                <li class="list-group-item">Un código se puede usar solo una vez.</li>
                <li class="list-group-item">Duda y sugerencias, escribir a la administración.</li>
            </ul>
        </div>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock contenido %}