{% extends "portal/basePortal.html" %}
{% load static %}
{% block contenido %}
<div class="row my-1">    
    <div class="col-10 col-md-8 m-auto">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Sincronizar - {{ user }}
            </div>
            <div class="card-body">
                <h5>Su cuenta local y la de internet no coinciden. Revise bien todos sus servicios.</h5>
                <h5>¿Todos los datos que ve son los correctos? Si continua serán los valores que se le guardarán permanente. ¿Desea continuar?</h5>
                <form class="d-flex justify-content-end" id="myform_sync" action="{% url 'portal:guardar_servicio' %}" method="POST">
                    {% csrf_token %}
                    <button id="boton_sync" type="submit" class="btn btn-outline-info">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner_sync" style='display: none'></span>
                        Si estoy seguro
                    </button>
                </form>
                <div class="d-flex justify-content-end">                    
                    <a  href="{% url 'portal:dashboard' %}"><button class="btn btn-danger m-3">Cancelar</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const myform_sync = document.getElementById("myform_sync");
    myform_sync.addEventListener("submit", (e) => {       
        document.getElementById('spinner_sync').style.display = 'inline-block';
        document.getElementById('boton_sync').disabled=true;
    });
</script>
{% endblock contenido %}