{% extends "web/base.html" %}
{% load static %}
{% block title %} - Cotilleo{% endblock %}
{% block header %}
<header>
  <nav class="navtop navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'sorteo:index' %}">Sorteo</a>
          </li>
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'portal:dashboard' %}">Portal</a>
          </li>   
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="navtop-link" href="{% url 'sync:control' %}">Control</a>
          </li>              
          {% endif %}
          <li class="nav-item">
            <a class="navtop-link mx-3" href="https://login.qbared.com">Internet</a>
          </li>              
        </ul>
        {% if user.is_authenticated %}    
          <a class="mx-2" style="text-decoration: none" href="{% url 'portal:dashboard' %}">
            <p class="text-white mx-2 fs-5 fst-italic m-auto">{{ user}}, {{ user.profile.coins }} coins</p>
          </a>              
          <img id="boton_notificaciones" class="img-fluid rounded mx-2" style="width: 50px; height: 50px; cursor: pointer;" src="{{ user.profile.imagen.url }}" alt="imagen_de_perfil">
            <span id="notificaciones_nuevas" class="bot-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
            </span>
          </img>                
          <a class="btn btn-sm btn-outline-danger mx-2" href="{% url 'users:logout' %}">Salir</a>
        {% else %}
          <a class="btn btn-sm btn-outline-warning mx-2" href="{% url 'users:login' %}">Entrar</a>
          <a class="btn btn-sm btn-outline-info mx-2" href="{% url 'users:register' %}">Registrarse</a>
        {% endif %}
      </div>
    </div>
  </nav>      
</header>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/style.css' %}">
<div class="fondo" style="background-image: url({% static 'forum/fondo.jpg' %})"></div>
<div class="contenedor">
    <div class="col-sm-12 col-lg-10 m-auto p-2 box">
    {% if mensaje %}
    <div class="col-5 offset-7 m-auto alert alert-warning my-2 text-center" role="alert">                   
        {{ mensaje }}                   
    </div>
    {% endif %}
    {% block contenido %}
    {% endblock contenido %}
    </div>
</div>
{% endblock content %}
{% block footer %}   
<div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(25,25,25,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(25,25,25,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(25,25,25,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(25, 25, 25)" />
    </g>
  </svg>
</div>
<footer class="page-footer font-small unique-color-dark">
  <div class="footer-copyright text-center py-3"><h7>2019-2021 © QbaRed</h7>
  </div>
</footer>
{% endblock %}