{% extends "web/base.html" %}
{% load static %}
{% block title %} - Cotilleo{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/style.css' %}">
<div class="fondo" style="background-image: url({% static 'forum/fondo.jpg' %})"></div>
<div class="contenedor">
    <div class="col-sm-12 col-lg-10 m-auto p-2 box">
    {% if mensaje %}
    <div class="col-5 offset-7 m-auto alert alert-warning my-2 text-center" role="alert">                   
        {{ mensaje }}                   
    </div>
    {% endif %}
    {% block contenido %}
    {% endblock contenido %}
    </div>
</div>
{% endblock content %}