{% extends "web/base.html" %}
{% load static %}

{% block title %} - Cotilleo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
{% endblock %}

{% block header %}
<header class="header-default">
  <nav class="navbar navbar-expand-lg">
      <div class="container-xl">
          <a href="{% url 'web:index' %}" class="navbar-brand"><i class="fab fa-quinscape"></i> QbaRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <i id="navbar-toggler-icon" class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="{% url 'web:index' %}" class="nav-link">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'sorteo:index' %}" class="nav-link">Sorteo</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'portal:dashboard' %}" class="nav-link">Portal</a>
                  </li>                       
              </ul>
          </div>
          <div class="header-right">
              <ul class="social-icons list-unstyled list-inline mb-0"> 
                  <li class="list-inline-item">
                      <a href="https://www.youtube.com/channel/UC3eLYmYuNWN89CxTPJXcR2g" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.twitch.tv/qbared" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitch"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://t.me/joinchat/MSKtLdbfoDBiMjRh" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://discord.gg/s5QGCarBHd" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i></a>
                  </li>
              </ul>
              <div class="header-buttons">                        
                  <button class="search icon-button">
                      <span class="search-icon"><i class="fas fa-search"></i></span>
                  </button>
                  {% if user.is_authenticated %}    
                  <a class="icon-button" href="#">
                      <img id="boton_notificaciones" src="{{ user.profile.imagen.url }}" alt="">
                      <span id="notificaciones_nuevas" style="display: none; font-size: small;"></span>
                      </img>
                  </a>
                  <a class="icon-button" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
                  <button id="login-icon" style="display: none;" class="fas fa-user"></button>
                  {% else %}
                  <a class="icon-button" href="{% url 'users:login' %}" id="login-icon"><i class="fas fa-user"></i></a>
                  {% endif %}
              </div>
          </div>
      </div>
  </nav>
</header>
{% endblock %}

{% block content %}

{% block contenido %}
{% endblock contenido %}

{% if mensaje %}
{{ mensaje|json_script:"mensaje" }}
{{ icon|json_script:"icon" }}
<script>
    var mensaje = JSON.parse(document.getElementById('mensaje').textContent);
    var icon = JSON.parse(document.getElementById('icon').textContent);
    var resultado = 'Upss!';
    var botonColor = '#d33';
    if (icon === 'success') {
        var resultado = 'Listo!';
        var botonColor = '#007000';
    }
    window.onload = function(){
        Swal.fire({
            title: resultado,
            text: mensaje,
            icon: icon,
            confirmButtonColor: botonColor,
        }) 
    }             
</script>
{% endif %}
{% endblock content %}

{% block footer %}
<section class="footer" id="footer">
    <div class="box" data-aos="fade-down">
        <h3>sitios</h3>
        <a class="boton" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
        <a class="boton" href="{% url 'sorteo:index' %}">Sorteo</a>
        <a class="boton" href="{% url 'portal:dashboard' %}">Portal</a>
    </div>
    <div class="box" data-aos="fade-left">
        <h3>social</h3>
        <a class="boton" href="https://www.youtube.com/channel/UC3eLYmYuNWN89CxTPJXcR2g" target="_blank" rel="noopener noreferrer"> <i class="fab fa-youtube"></i> YouTube </a>
        <a class="boton" href="https://www.twitch.tv/qbared" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitch"></i> Twitch </a>
        <a class="boton" href="https://t.me/joinchat/MSKtLdbfoDBiMjRh" target="_blank" rel="noopener noreferrer"> <i class="fab fa-telegram"></i> Telegram </a>
        <a class="boton" href="https://discord.gg/s5QGCarBHd" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>Discord</a>
    </div>
    <div class="credit"> creado por <span><a class="chat" href="{% url 'chat:room' 'iVan' %}">iVan</a></span> | QbaRed @ 2021 </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'forum/js/main.js' %}"></script>
<script src="{% static 'web/js/swiper-bundle.min.js' %}"></script>
<!-- custom js file links  -->
<script src="{% static 'web/js/aos.js' %}"></script>
<script>
  AOS.init({
      delay:400,
      duration:800
  });
</script>
{% endblock script %}

