{% extends "forum/baseForum.html" %}
{% load static %}
{% block contenido %}    
<div class="col-10 col-lg-8 m-auto box overflow-hidden">
    <div class="p-3">
        <h3 class="text-center p-3">Crear publicación</h3>
        <form id="myform" action="{% url 'forum:crear' tema %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Tema</label>
                <select class="form-select" required id="inputGroupSelect01" name="tema">            
                    <option selected value={{ tema }}>{{ tema }}</option>            
                    <option value="Noticia">Noticia</option>
                    <option value="Internet">Internet</option>
                    <option value="JovenClub">JovenClub</option>
                    <option value="Emby">Emby</option>
                    <option value="FileZilla">FileZilla</option>
                    <option value="QbaRed">QbaRed</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input class="form-control" id="titulo" name="titulo" autofocus type="text" required aria-label="default input example">
            </div>
            <div class="mb-3">
                <label for="contenido" class="form-label">Contenido:</label>
                <textarea class="form-control" id="contenido" name="contenido" required rows="8"></textarea>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="online" name="online" id="online">
                <label class="form-check-label" for="online">
                Publicar en internet
                </label>
            </div>            
            <div class="col-12 col-md-10 col-lg-8">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="imagen1" name="imagen1">
                    <label class="input-group-text" for="imagen1">Imagen-1</label>
                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-8 m-auto">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="imagen2" name="imagen2">
                    <label class="input-group-text" for="imagen2">Imagen-2</label>
                </div>
            </div>
            <div class="col-12 col-md-10 offset-md-2 col-lg-8 offset-lg-4 align-self-end">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="imagen3" name="imagen3">
                    <label class="input-group-text" for="imagen3">Imagen-3</label>
                </div>
            </div>
            <div class="col-12 text-end"> 
                <button id="boton" class="btn btn-{{ color }}" type="submit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock contenido %}