{% extends "forum/baseForum.html" %}
{% load static %}
{% block contenido %}    
<section class="primera">
    <div class="container-xl">
        <div class="row gy-4 text-center">
            <form id="myform" action="{% url 'forum:eliminar' tema p.id %}" method="POST">
                <h4 class="p-3">¿Seguro desea eliminar la publicación?</h4>
                {% csrf_token %}
                <button id="boton" class="boton" type="submit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none'></span>
                    Eliminar
                </button>
            </form>        
            <a href="{% url 'forum:detalles' tema p.slug %}">
                <button id="boton2" class="boton">Atrás</button>
            </a>
        </div>
    </div>
</section>
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
        document.getElementById('boton2').disabled=true;
    });
</script>
{% endblock contenido %}