{% extends "forum/baseForum.html" %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
<div class="text-end py-2">
    <a href="{% url 'forum:crear' tema %}">
        <button class="btn btn-{{ color }}">Crear nuevo</button>
    </a>
</div>
{% endif %}
<div class="p-1 text-white bg-light overflow-hidden box" style="background-image: url('{% static 'web/noticias/main.jpg' %}')">
    <div class="col-md-10 p-1 px-md-4 text-left" style="text-shadow: 0 0 3px white, 0 0 8px rgb(75, 150, 100);">
        <h2 class="display-4 px-4 fw-bold logo">Cotilleo</h2>
        <p class="d-none d-md-block p-0 lead my-3 fw-bold">Aquí encontrarás las últimas noticias sobre la Red.</p>      
    </div>
</div>
<div class="row py-1 h4">
    <div class="col-12 col-md-10 offset-md-1 d-md-flex d-block justify-content-between bg-dark border rounded py-1 px-3">
        <a class="link-warning" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
        <a class="link-light" href="{% url 'forum:index' 'Internet' %}">Internet</a>
        <a class="link-primary" href="{% url 'forum:index' 'JovenClub' %}">Joven Club</a>
        <a class="link-success" href="{% url 'forum:index' 'Emby' %}">Emby</a>
        <a class="link-danger" href="{% url 'forum:index' 'Filezilla' %}">FileZilla</a>
        <a class="link-info" href="{% url 'forum:index' 'QbaRed' %}">QbaRed</a>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="row">
            {% if not publicaciones %}
            <h3 class="text-center m-4">No hay ninguna publicación de este tema.</h3>
            {% endif %}
            {% for p in publicaciones %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-200 position-relative box bg-dark text-{{ color }}" style="height: 200px;">
                    <div class="col p-3 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-{{ color }}">{{ p.tema }} - {{ p.autor }}</strong>
                        <h3 class="mb-0">{{ p.titulo }}</h3>
                        <div class="m-0">{{ p.fecha }}</div>
                        <p class="m-0">{{ p.contenido }}</p>
                        <a href="{{ p.id }}" class="stretched-link">Click para detalles...</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ p.imagen1.url }}" width="200" height="200" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>           
            {% endfor %}
        </div>
    </div>
    <div class="col-2 d-none d-lg-block my-1 mx-auto p-1 box text-center overflow-hidden bg-dark">
        <h3 class="text-center text-{{ color }} pt-2">Ultimas:</h3>    
        <ul class="list-group" style="list-style: none;">
            {% if todas %}
            {% for p in todas %}
            <li class="list-item py-1 text-white"><a href="{{ p.id }}" class="text-white p-2">{{ p.titulo }}</a></li>
            {% endfor %}
            {% else %}
            <li class="list-item py-1 text-white">Nada publicado aún</li>
            {% endif %}
        </ul>           
    </div>
</div>
{% endblock contenido %}