{% extends "web/base.html" %}
{% load static %}
{% block title %} - Cotilleo{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'forum/style.css' %}">
<div class="fondo" style="background-image: url({% static 'forum/fondo.jpg' %})"></div>
<div class="contenedor">
<div class="col-sm-12 col-lg-10 m-auto p-2 box">
    <div class="p-1 text-white bg-light overflow-hidden box" style="background-image: url('{% static 'web/noticias/main.jpg' %}')">
        <div class="col-md-10 p-1 px-md-4 text-left" style="text-shadow: 0 0 3px white, 0 0 8px rgb(75, 150, 100);">
            <h2 class="display-4 px-4 fw-bold">Cotilleo</h2>
            <p class="d-none d-md-block p-0 lead my-3 fw-bold">Aquí encontrarás las últimas noticias sobre la Red.</p>      
        </div>
    </div>
    <div class="row p-1 h4 d-none d-md-block">
        <div class="col-10 offset-1 d-flex justify-content-between">
          <a class="link-warning" href="#">Noticias</a>
          <a class="link-light" href="#">Internet</a>
          <a class="link-primary" href="#">Joven Club</a>
          <a class="link-success" href="#">Emby</a>
          <a class="link-danger" href="#">FileZilla</a>
          <a class="link-info" href="#">La Red</a>
        </div>
    </div>
    <div class="row">
        {% for p in publicaciones %}
        <div class="col-12 col-sm-6 px-md-4">
            <div class="row g-0 overflow-hidden position-relative box" style="height: 200px;">
                <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{ p.tema }}</strong>
                <h3 class="mb-0">{{ p.titulo }}</h3>
                <div class="mb-1">{{ p.fecha }}</div>
                <p class="mb-auto p-0 overflow-hidden d-none d-md-block fw-bold" style="height: 50px;">{{ p.contenido }}</p>
                <a href="{{ p.id }}" class="stretched-link">Click para detalles...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ p.imagen1.url }}" width="200" height="250" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}