{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'portal/favicon.ico' %}"/>
        <meta name="description" content="Sorteo de Qbared, red privada de centro habana.">
        <meta name="author" content="iVan">
        <link rel="stylesheet" href="{% static 'sorteo/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'sorteo/style.css' %}">
        <title>QbaRed - Sorteo</title>
    </head>
    <body>
        <nav>
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'web:noticias' %}">Noticias</a>
                </li>              
                </ul>                         
                <a style="margin-right: 10px;" class="btn btn-sm btn-outline-primary" href="https://login.qbared.com">Internet</a>
                <a class="btn btn-sm btn-outline-success" href="{% url 'portal:index' %}">Portal del Usuario</a>          
            </div> 
            </div>
        </nav>
        <main>
        {% block content %}
        {% endblock content %}    
        <footer class="footer mt-auto py-1 bg-light">
        <p class="text-muted">QbaRed &copy; 2019–2021 &copy; QbaRed</p>
        </footer>
        </main>
        <!--Particles-->
        <script src="{% static 'web/root/particles.min.js' %}"></script>
        <script src="{% static 'web/root/particles-run.js' %}"></script>
        
        <script src="{% static 'web/myjs.js' %}"></script>
    </body>
</html>