{% extends "web/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'sorteo/css/style.css' %}">
{% endblock %}
{% block header %}
<div class="fondo"></div>
<header>
  <nav class="navbar navbar-expand-md" style="background-image: url({% static 'sorteo/images/backgroundnavbar.jpg' %})">
    <div class="container-xl">
      <a class="navbar-brand" href="{% url 'web:index' %}"><i class="fab fa-quinscape"></i> QbaRed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span id="#navbar-toggler-icon" class="navbar-toggler-icon"><i id="navbar-toggler-icon" class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sorteo:index' %}">Sorteo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portal:dashboard' %}">Portal</a>
          </li>   
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sync:control' %}">Control</a>
          </li>              
          {% endif %}                        
        </ul>
      </div>
      <div>
        <ul  class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item m-auto iconos">
            <img id="boton_notificaciones" class="img-fluid rounded" style="width: 30px; height: 30px; cursor: pointer;" src="{{ user.profile.imagen.url }}" alt="imagen_de_perfil">
              <span id="notificaciones_nuevas" class="bot-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
              </span>
            </img>                
          </li>              
          <li class="nav-item mx-2 iconos">
            <a class="nav-link" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
          </li>              
          {% else %}
          <li class="nav-item  mx-2 iconos">
            <a class="nav-link" href="{% url 'users:login' %}"><i class="fas fa-user"></i></a>
          </li>   
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>      
</header>
{% endblock %}
{% block content %}
<div class="parteArriba" style="background-image: url({% static 'sorteo/images/backgroundnavbar.jpg' %})"></div>
{% block contenido %}
{% endblock contenido %}    
<div class="parteAbajo" style="background-image: url({% static 'sorteo/images/backgroundnavbar.jpg' %})"></div>
{% endblock content %}
{% block footer %}
<footer class="footer" style="background-image: url({% static 'sorteo/images/backgroundnavbar.jpg' %})">
  <div class="box" data-aos="fade-down">
    <h3>sitios</h3>
    <a class="boton" href="{% url 'forum:index' 'Noticia' %}">Noticias</a>
    <a class="boton" href="{% url 'sorteo:index' %}">Sorteo</a>
    <a class="boton" href="{% url 'portal:dashboard' %}">Portal</a>
  </div>
  <div class="box" data-aos="fade-left">
      <h3>social</h3>
      <a class="boton" href="https://www.youtube.com/channel/UC3eLYmYuNWN89CxTPJXcR2g" target="_blank" rel="noopener noreferrer"> <i class="fab fa-youtube"></i> YouTube </a>
      <a class="boton" href="https://www.twitch.tv/qbared" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitch"></i> Twitch </a>
      <a class="boton" href="https://t.me/joinchat/MSKtLdbfoDBiMjRh" target="_blank" rel="noopener noreferrer"> <i class="fab fa-telegram"></i> Telegram </a>
      <a class="boton" href="https://discord.gg/s5QGCarBHd" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>Discord</a>
  </div>
  <div class="credit"> creado por <span><a class="chat" href="{% url 'chat:room' 'iVan' %}">iVan</a></span> | QbaRed 2022 </div>
</footer>
{% endblock %}
