{% extends "web/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "sorteo/style.css" %}>
<div class="container-fluid" style="background-image: url({% static 'sorteo/background-explicacion.jpg' %})">
    <div class="row align-items-center" style="padding: 30px; font-style: italic;">
        {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>        
        {% endif %}
        <div class="col-12 col-md-4">
            <h1 class="display-4" style="font-weight: bolder; text-shadow: 0 0 3px red, 0 0 6px yellow; color: white; text-align: center;">Participantes</h1>
            <div id="participants-frame">            
                <ul id="participants-list" class="list-group" style="position: relative; height: calc(100vh - 230px); overflow:hidden; overflow-y: scroll;">
                </ul>            
            </div>
        </div>
        <div class="col-12 col-md-5">
            <h1 class="display-4" style="font-weight: bolder; text-shadow: 0 0 3px red, 0 0 6px yellow; color: white; text-align: center;">Selección</h1>
            <h1 id="app">{{ text }}</h1>
            <div>
                {% if usuario.is_staff %}
                <button id="roll-button" class="btn-success" style="float: right;">
                    Empezar
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-3 d-none d-md-block">                    
            <img class="rounded-circle" width="100%" src="{% static 'sorteo/recarga.png' %}" alt="coins"/>
            <h5 class="display-5" style="font-weight: bolder; text-shadow: 0 0 3px red, 0 0 6px yellow; color: white; text-align: center;">con</h5>
            <h2 class="display-4" style="font-weight: bolder; text-shadow: 0 0 3px red, 0 0 6px yellow; color: white; text-align: center;">200 coins</h2>
        </div>

        <script src="{% static 'sorteo/reconnecting-websocket.js' %}"></script> 
        <script>
            var socket = new ReconnectingWebSocket('ws://172.20.24.2:8000/ws/sorteo/running/');
            socket.onopen = function(e) {
                console.log('socket conectado');
                socket.send(JSON.stringify({
                    'command': 'participants'
                }))
            }
            socket.onmessage = function(e){
                var data = JSON.parse(e.data);
                if (data['command'] === 'participants') {
                    var list = document.getElementById("participants-list");
                    while (list.firstChild) {
                        list.removeChild(list.firstChild);
                    }
                    var participants = data['participants']
                    var participants = participants.map(participants => {
                        var parListTag = document.createElement('li');
                        if (participants['eliminado']) {
                            var delTag = document.createElement('del');
                            delTag.textContent = participants['usuario'] + ", servicio: " + participants['servicio'] + " code: " + participants['code'];
                            parListTag.appendChild(delTag);
                            parListTag.id = "dead"
                        } else {
                            var pTag = document.createElement('p');
                            pTag.textContent = participants['usuario'] + ", servicio: " + participants['servicio'] + " code: " + participants['code'];
                            parListTag.appendChild(pTag);
                            parListTag.id = "alive"
                        }                                    
                        document.querySelector('#participants-list').appendChild(parListTag);
                    })                
                } else {
                    document.querySelector('#app').innerText = data.code;
                    socket.send(JSON.stringify({
                        'command': 'participants'
                    }))
                }
            }
            socket.onclose = function(e) {
                console.error('socket cerrado');
            }
            document.querySelector('#roll-button').onclick = function(e) {
                socket.send(JSON.stringify({
                    'command': 'roll'
                }))
            }        
        </script>
    </div>
</div>
{% endblock content %}