{% extends 'web/base.html' %}
{% load static %}
{% block title %} - Control{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'control/style.css' %}">
{% endblock %}
{% block header %}
<header>
    <nav class="navtop navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav m-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="navtop-link" href="{% url 'web:index' %}">Salir</a>
                    </li>
                </ul>        
            </div>
        </div>
    </nav>      
</header>
{% endblock %}
{% block content %}
<div style="background-color: rgba(20, 126, 187, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
<div class="row contenido">
    <div class="col-10 col-md-9 order-2 order-md-1 m-auto p-0 mt-4">
        <div class="col-12 col-md-10 m-auto">            
            {% block contenido %}
            {% endblock contenido %}
        </div>
    </div>
    <div class="col-8 col-md-3 order-1 order-md-2 m-auto p-0 mt-4">
        <div class="card bg-dark text-white" style="max-width: 300px;">
            <div class="card-header">
                <h5>Herramientas</h5>
            </div>
            <div class="card-body">
                <ul>
                    <li class="my-1">
                        <a href="{% url 'control:control' %}">
                            <button class="form-control btn btn-info">
                                Buscar
                            </button>
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="{% url 'control:control_usuarios' %}">
                            <button class="form-control btn btn-info">
                                Usuarios
                            </button>
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="{% url 'control:control_perfiles' %}">
                            <button class="form-control btn btn-info">
                                Perfiles
                            </button>
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="{% url 'control:control_servicios' %}">
                            <button class="form-control btn btn-info">
                                Servicios
                            </button>
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="{% url 'control:control_recargas' %}">
                            <button class="form-control btn btn-info">
                                Recargas
                            </button>
                        </a>
                    </li>
                    {% if request.user.username == 'iVan' or request.user.username == '0n3' %}
                    <li class="my-1">
                        <a href="{% url 'control:control_sorteos' %}">
                            <button class="form-control btn btn-info">
                                Sorteos
                            </button>
                        </a>
                    </li>
                    <!-- <li class="my-1">
                        <a href="{% url 'control:control_avanzado' %}">
                            <button class="form-control btn btn-info">
                                Avanzado
                            </button>
                        </a>
                    </li> -->
                    <li class="my-1">
                        <a href="{% url 'control:control_finanzas' %}">
                            <button class="form-control btn btn-info">
                                Finanzas
                            </button>
                        </a>
                    </li>
                    {% endif %}
                    <li class="my-1">
                        <a href="{% url 'control:venta_recargas' %}">
                            <button class="form-control btn btn-info">
                                Ventas
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% if mensaje %}
{{ mensaje|json_script:"mensaje" }}
{{ icon|json_script:"icon" }}
<script>
    var mensaje = JSON.parse(document.getElementById('mensaje').textContent);
    var icon = JSON.parse(document.getElementById('icon').textContent);
    var resultado = 'Upss!';
    var botonColor = '#d33';
    if (icon === 'success') {
        var resultado = 'Listo!';
        var botonColor = '#007000';
    }
    window.onload = function(){
        Swal.fire({
            title: resultado,
            text: mensaje,
            icon: icon,
            confirmButtonColor: botonColor,
        }) 
    }             
</script>
{% endif %}
{% endblock content %}
