{% extends 'web/base.html' %}
{% load static %}
{% block title %}
- Control, confirmar
{% endblock title %}
{% block content %}
<div class="container text-center">
    {% if mensaje %}
        <div class="alert alert-warning text-center my-2" role="alert">                   
            {{ mensaje }}                   
        </div>               
    {% endif %}
    <div class="m-1">
        <h5>El perfil de internet no coincide con el local, desea guardar este o el de internet?</h5>
        <h6>Usuario: {{ usuario }}</h6>
        <form action="{% url 'sync:actualizar_perfil' id %}" method="POST">
            {% csrf_token%}
            <button class="form-control btn btn-success" name="respuesta" value="local" type="submit">Perfil Local</button>
        </form>
        <form action="{% url 'sync:actualizar_perfil' id %}" method="POST">
            {% csrf_token%}
            <button class="form-control btn btn-danger" name="respuesta" value="remoto" type="submit">Perfil remoto(internet)</button>
        </form>
        <a href="{% url 'sync:control' %}"><button class="form-control btn btn-info">Cancelar</button></a>
    </div>            
</div>
{% endblock content %}