{% extends 'sync/baseSync.html' %}
{% load static %}
{% block contenido %}
<div class="col-12 col-md-10 m-auto my-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5>Periodo:</h5>
        </div>
        <div class="card-body m-auto">
            <p>{{ days }} días, mes {{ month }}</p>
        </div>
    </div>
</div>
<div class="col-12 col-md-10 m-auto my-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5>Ganancias:</h5>
        </div>
        <div class="card-body m-auto">
            <p>Ganancia Total: {{ earnings }}</p>
            <p>Gasto: {{ spended }}</p>   
            <p>Ganancia neta: {{ net }}</p> 
            <p>Ganancia individual: {{ half }}</p> 
        </div>
    </div>
</div>
<div class="col-12 col-md-10 m-auto my-3">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h5>Pagos:</h5>
        </div>
        <div class="card-body m-auto">
            {% for o in opers %}
            <p>
                {{ o.usuario.username}} por {{ o.servicio }} pagó {{ o.cantidad }} coins, {{ o.fecha }}
            </p>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const form_chequeos = document.getElementById("form_chequeos");
    form_chequeos.addEventListener("submit", (e) => {       
        document.getElementById('spinner_chequeos').style.display = 'inline-block';
        document.getElementById('boton_chequeos').disabled=true;
        document.getElementById('boton_acciones').disabled=true;
    });
    const form_acciones = document.getElementById("form_acciones");
    form_acciones.addEventListener("submit", (e) => {       
        document.getElementById('spinner_acciones').style.display = 'inline-block';
        document.getElementById('boton_chequeos').disabled=true;
        document.getElementById('boton_acciones').disabled=true;
    });
</script>
{% endblock contenido %}