{% extends 'web/base.html' %}
{% load static %}
{% block title %}
- Control
{% endblock title %}
{% block content %}
<div style="background-color: rgba(20, 126, 187, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
<div class="col-10 col-md-8 m-auto py-3">
    {% if mensaje %}
        <div class="alert alert-warning text-center my-2" role="alert">                   
            {{ mensaje }}                   
        </div>               
    {% endif %}
    <h4 class="text-center text-white">Usuarios:</h4>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">username</th>
                <th scope="col">email</th>
                <th scope="col">Sincronizado</th>
            </tr>
        </thead>
        <tbody>           
            {% for u in usuarios %}
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td><form action="{% url 'sync:control_usuario' u.id %}" method="POST">{% csrf_token%}<button class="form-control btn btn-info" type="submit">Chequear sync</button></form></td>>
            </tr>  
            {% endfor %}         
        </tbody>
    </table>
    <h4 class="text-center text-white">Perfiles:</h4>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Coins</th>
                <th scope="col">Sincronizado</th>
            </tr>
        </thead>
        <tbody>
            {% for p in perfiles %}
            <tr>
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.usuario.username }}</td>
                <td>{{ p.coins }}</td>
                {% if p.sync %}
                <td scope="col"><form action="{% url 'sync:control_perfil' p.usuario.id %}" method="POST">{% csrf_token%}<button class="form-control btn btn-info" name="action" value="check" type="submit">Chequear sync</button></form></td> 
                {% else %}
                <td scope="col"><form action="{% url 'sync:control_perfil' p.usuario.id %}" method="POST">{% csrf_token%}<button class="form-control btn btn-info" name="action" value="cambiar" type="submit">Sync</button></form></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="text-center text-white">Servicios:</h4>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Internet</th>
                <th scope="col">Joven Club</th>
                <th scope="col">Emby</th>
                <th scope="col">FileZilla</th>
                <th scope="col">Sincronizado</th>
            </tr>
        </thead>
        <tbody>  
        {% for s in servicios %}
        <tr>
            <th scope="row">{{ s.id }}</th>
            <td>{{ s.usuario.username }}</td>
            <td>{{ s.internet }}</td>
            <td>{{ s.jc }}</td>
            <td>{{ s.emby }}</td>
            <td>{{ s.ftp }}</td>
            {% if s.sync %}
            <td><form action="{% url 'sync:control_servicio' s.usuario.id %}" method="POST">{% csrf_token%}<button type="submit" class="form-control btn btn-info" name="action" value="check">Chequear sync</button></form></td>
            {% else %}
            <td><form action="{% url 'sync:control_servicio' s.usuario.id %}" method="POST">{% csrf_token%}<button type="submit" class="form-control btn btn-info" name="action" value="cambiar">Sync</button></form></td>
            {% endif %}
           
            {% endfor %}
        </tbody>
    </table>           
</div>
{% endblock content %}