{% extends "web/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<div class="fondo" style="background-image: url({% static 'users/bg.jpg' %})"></div>
<div class="container">
    <div class="box">
        {% block contenido %}
        {% endblock contenido %}
    </div>
</div>    
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock content %}