{% extends "web/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}
{% block content %}
<div class="contenedor">
    <div class="box">
        {% block contenido %}
        {% endblock contenido %}
    </div>
</div>
{% if mensaje %}
{{ mensaje|json_script:"mensaje" }}
{{ icon|json_script:"icon" }}
<script>
    var mensaje = JSON.parse(document.getElementById('mensaje').textContent);
    var icon = JSON.parse(document.getElementById('icon').textContent);
    var resultado = 'Upss!';
    var botonColor = '#d33';
    if (icon === 'success') {
        var resultado = 'Listo!';
        var botonColor = '#007000';
    }
    window.onload = function(){
        Swal.fire({
            title: resultado,
            text: mensaje,
            icon: icon,
            confirmButtonColor: botonColor,
        }) 
    }             
</script>
{% endif %}
<script>
    const myform = document.getElementById("myform");
    myform.addEventListener("submit", (e) => {       
        document.getElementById('spinner').style.display = 'inline-block';
        document.getElementById('boton').disabled=true;
    });
</script>
{% endblock content %}