{% extends "users/baseUsers.html" %}
{% load static %}
{% block title %} - Entrar{% endblock %}
{% block contenido %}    
<div class="card-header">
    <h3><a href="{% url 'web:index' %}">QbaRed</a></h3> 
    <a href="{% url 'web:index' %}">Salir <i class="fas fa-sign-out-alt"></i></a>          
</div>
<div class="card-body">
    <form id="myform" action="{% url 'users:login' %}"  method="post">                                  
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" style="background: transparent; color: white;" id="username" name="username" placeholder="usuario">
            <label for="username">Usuario:</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" style="background: transparent; color: white;" id="password" name="password" placeholder="contraseña">
            <label for="password">Contraseña:</label>
        </div>                
        <button id="boton" class="form-control btn btn-outline-warning" type="submit">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
            Entrar
        </button>
    </form>
</div>
<div class="enlaces">
    <p>olvidaste la contraseña? <a href="{% url 'reset_password' %}">click aquí</a></p>
    <p>no tienes cuenta? <a href="{% url 'users:register' %}">crear una</a></p>            
</div>
{% endblock contenido %}