{% extends "users/baseUsers.html" %}
{% load static %}
{% block title %} - Reiniciar contraseña{% endblock %}
{% block contenido %}
<div class="card-header">
    <h3><a href="{% url 'web:index' %}">QbaRed</a></h3> 
    <a href="{% url 'web:index' %}">Salir <i class="fas fa-sign-out-alt"></i></a>
</div>
<div class="card-body">
    <form id="myform" method="POST">
        <h5 class="text-center text-white">Escriba su correo para recuperar su cuenta.</h5>     
        {% csrf_token %}
        {{ form }}
        <button id="boton" class="form-control btn btn-outline-warning mt-3" type="submit">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
            Enviar
        </button>
    </form>
</div>
{% endblock contenido %}