{% extends "users/baseUsers.html" %}
{% load static %}
{% block title %} - Reiniciar contraseña{% endblock %}
{% block contenido %}
<div class="card-header">
    <h3><a href="{% url 'web:index' %}">QbaRed</a></h3> 
    <a href="{% url 'web:index' %}">Salir <i class="fas fa-sign-out-alt"></i></a>
</div>
<div class="card-body">
    <h5 class="text-center text-white">Se le envió un correo con las instrucciones para reiniciar su contraseña, revise su bandeja de entrada.</h5>
    <h6 class="text-center text-white">Si no escribió un correo real al registrarse o puso el de cubava, escribir a la adminitración.</h6>
</div>
{% endblock contenido %}