{% extends "users/baseUsers.html" %}
{% load static %}
{% block title %} - Registrarse{% endblock %}
{% block contenido %} 
<div class="card-header">
    <h3><a href="{% url 'web:index' %}">QbaRed</a></h3> 
    <a href="{% url 'web:index' %}">Salir <i class="fas fa-sign-out-alt"></i></a>    
</div> 
<div class="card-body">  
    <h4 class="text-center text-white">Datos de registro:</h4>   
    <form id="myform" action="{% url 'users:register' %}"  method="post">        
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" style="background: transparent; color: white;" id="username" placeholder="nombre de usuario" required>
            <label for="username">Usuario:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailInput" name="email" style="background: transparent; color: white;" placeholder="name@example.com" required>
            <label for="emailInput">Correo:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" style="background: transparent; color: white;" placeholder="Contraseña" required>
            <label for="password">Contraseña:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" style="background: transparent; color: white;" placeholder="Contraseña" required>
            <label for="passwordConfirm">Repetir contraseña:</label>
        </div>
        {% if not local %}
        <div class="form-floating mb-3">
            <select id="zona" class="form-control" placeholder="A que zona pertenece?" name="subnet" style="background: transparent; color: white;">
                <option selected value="local_iVan">Centro Habana</option>
                <option value="local_0n3">Plaza</option >
            </select>
            <label for="zona">A que zona pertenece?</label>
        </div>
        {% endif %}
        <button id="boton" class="form-control btn btn-outline-warning" type="submit">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" style='display: none;'></span>
            Registrarme
        </button>
    </form>
</div>
<div class="enlaces">
    <p>ya tienes cuenta? <a href="{% url 'users:login' %}">entrar</a></p>            
</div>
{% endblock contenido %}