{% extends "web/baseWeb.html" %}
{% load static %}
{% block title %} - Axie{% endblock %}
{% block contenido %}
<section class="descripcion">
  <div class="row">
    <div class="col-md-4 order-md-1 p-4 text-center" data-aos="fade-right">
        <img src="{% static 'web/images/axie_imagen1.jpg' %}" class="img-fluid" alt="Responsive image" style="height: 200px;"> 
    </div>
    <div class="col-12 col-lg-8 order-md-2 d-flex" data-aos="fade-left">
        <p class="text-white text-center fs-4 p-2">
          Relacion de rendimiendo y ganancia en axie-infinity según promedio diario:</br></br>
          0-40 SLP : 20%</br>
          41-60 SLP : 30%</br>
          61-80 SLP : 35%</br>
          81-100 SLP : 40%</br>
          101-120 SLP : 45%</br>
          +121 SLP : 50%</br>
        </p>
    </div>      
  </div>
</section>
<section class="descargas">
  <div class="row" style="min-height: 300px;">
    <div class="col-12 col-lg-10 overflow-auto m-auto p-2">
      <div class="row mb-4">
        {% if user.is_authenticated and user.is_superuser %}
        <div class="d-flex justify-content-between text-white fs-4">          
          <div class="d-flex border border-secondary p-2">
            <img src="{% static 'web/images/axie_slp.png' %}" class="img-fluid" alt="Responsive image" style="height: 30px; width: 30px; margin: 0; padding: 0;"> 
            <p class="m-auto" id="slp-manager">0</p>      
            <p class="m-auto" id="ganancia-manager"></p>      
          </div>          
        {% else %}
        <div class="d-flex justify-content-end text-white fs-4">
          <div class="d-none">
            <p class="m-auto d-none" id="slp-manager"></p>      
            <p class="m-auto d-none" id="ganancia-manager"></p> 
          </div>
        {% endif %}
          <div class="d-flex border border-secondary p-2">
            <img src="{% static 'web/images/axie_slp.png' %}" class="img-fluid" alt="Responsive image" style="height: 30px; width: 30px; margin: 0; padding: 0;"> 
            <p class="m-auto" id="slp_precio"></p>      
          </div>  
        </div>  
      </div>
      <h3 class="text-warning text-center m-4">Becas QbaRed:</h3>
      <table class="table text-white text-center texto fs-4" style="cursor: default; white-space: nowrap;">
        <thead>
          <tr class="text-warning">
            <th scope="col">#</th>
            <th scope="col">Jugador</th>
            <th scope="col">MMR Arena</th>
            <th scope="col">SLP(hoy)</th>
            <th scope="col">SLP(ayer)</th>
            <th scope="col">SLP(total)</th>
            <th scope="col">Average</th>
            <th scope="col">Rendimiento</th>
            <th scope="col">Ganancia</th>
            <th scope="col">Ultimo Pago</th>
            <th scope="col">Próximo Pago</th>
          </tr>
        </thead>        
        <tbody>
          <tr>            
            <th scope="row">1</th>
            <td><span id="jugador0"></span></br><span id="jugador-nombre0" class="fs-6" style="display: none;">iVan</span></td>
            <td><span id="mmr0"></span> <i class="fas fa-trophy" id="copa0" style="display: none;"></i></br><span class="fs-6" id="copas0"></span></td>
            <td><i class="fas fa-khanda" id="arenaIcon0" style="display: none;"></i> <!-- <span id="slp-hoy0"></span> --><span id="arena0"></span> <i class="fas fa-map-marked-alt" id="aventuraIcon0" style="display: none;"></i> <span id="aventura0"></span></br><span class="fs-6" id="ganancia-hoy0"></span></td>
            <td><span id="slp-ayer0"></span></br><span class="fs-6" id="ganancia-ayer0"></span></td>
            <td><span id="slp-total0"></span><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader0"></span></br><span class="fs-6" id="ganancia-total0"></span></td>
            <td><span id="average0"></span></br><span class="fs-6" id="ganancia-average0"></span></td>
            <td><span id="rendimiento0"></span></td>
            <td><span id="ganancia0"></span></br><span class="fs-6" id="ganancia-ganancia0"></span></td>
            <td><span id="ultimo-pago0"></span></td>
            <td><span id="proximo-pago0"></span></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><span id="jugador1"></span></br><span id="jugador-nombre1" class="fs-6" style="display: none;">zsayel</span></td>
            <td><span id="mmr1"></span> <i class="fas fa-trophy" id="copa1" style="display: none;"></i></br><span class="fs-6" id="copas1"></span></td>
            <td><i class="fas fa-khanda" id="arenaIcon1" style="display: none;"></i> <!-- <span id="slp-hoy1"></span> --><span id="arena1"></span> <i class="fas fa-map-marked-alt" id="aventuraIcon1" style="display: none;"></i> <span id="aventura1"></span></br><span class="fs-6" id="ganancia-hoy1"></span></td>
            <td><span id="slp-ayer1"></span></br><span class="fs-6" id="ganancia-ayer1"></span></td>
            <td><span id="slp-total1"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader1"></span></span></br><span class="fs-6"  id="ganancia-total1"></span></td>
            <td><span id="average1"></span></br><span class="fs-6" id="ganancia-average1"></span></td>
            <td><span id="rendimiento1"></span></td>
            <td><span id="ganancia1"></span></br><span class="fs-6" id="ganancia-ganancia1"></span></td>
            <td><span id="ultimo-pago1"></span></td>
            <td><span id="proximo-pago1"></span></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><span id="jugador2"></span></br><span id="jugador-nombre2" class="fs-6" style="display: none;">tsunami</span></td>
            <td><span id="mmr2"></span> <i class="fas fa-trophy" id="copa2" style="display: none;"></i></br><span class="fs-6" id="copas2"></span></td>
            <td><i class="fas fa-khanda" id="arenaIcon2" style="display: none;"></i> <!-- <span id="slp-hoy2"></span> --><span id="arena2"></span> <i class="fas fa-map-marked-alt" id="aventuraIcon2" style="display: none;"></i> <span id="aventura2"></span></br><span class="fs-6" id="ganancia-hoy2"></span></td>
            <td><span id="slp-ayer2"></span></br><span class="fs-6" id="ganancia-ayer2"></span></td>
            <td><span id="slp-total2"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader2"></span></span></br><span class="fs-6"  id="ganancia-total2"></span></td>
            <td><span id="average2"></span></br><span class="fs-6" id="ganancia-average2"></span></td>
            <td><span id="rendimiento2"></span></td>
            <td><span id="ganancia2"></span></br><span class="fs-6" id="ganancia-ganancia2"></span></td>
            <td><span id="ultimo-pago2"></span></td>
            <td><span id="proximo-pago2"></span></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><span id="jugador3"></span></br><span id="jugador-nombre3" class="fs-6" style="display: none;">Danilo</span></td>
            <td><span id="mmr3"></span> <i class="fas fa-trophy" id="copa3" style="display: none;"></i></br><span class="fs-6" id="copas3"></span></td>
            <td><i class="fas fa-khanda" id="arenaIcon3" style="display: none;"></i> <!-- <span id="slp-hoy3"></span> --><span id="arena3"></span> <i class="fas fa-map-marked-alt" id="aventuraIcon3" style="display: none;"></i> <span id="aventura3"></span></br><span class="fs-6" id="ganancia-hoy3"></span></td>
            <td><span id="slp-ayer3"></span></br><span class="fs-6" id="ganancia-ayer3"></span></td>
            <td><span id="slp-total3"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="loader3"></span></span></br><span class="fs-6"  id="ganancia-total3"></span></td>
            <td><span id="average3"></span></br><span class="fs-6" id="ganancia-average3"></span></td>
            <td><span id="rendimiento3"></span></td>
            <td><span id="ganancia3"></span></br><span class="fs-6" id="ganancia-ganancia3"></span></td>
            <td><span id="ultimo-pago3"></span></td>
            <td><span id="proximo-pago3"></span></td>
          </tr>
        </tbody>
      </table>     
      <h3 class="text-warning text-center m-4">Otras cuentas:</h3>
      <table class="table text-white text-center texto fs-4" style="cursor: default; white-space: nowrap;">
        <thead>
          <tr class="text-warning">
            <th scope="col">#</th>
            <th scope="col">Jugador</th>
            <th scope="col">MMR Arena</th>
            <th scope="col">SLP(hoy)</th>
            <th scope="col">SLP(ayer)</th>
            <th scope="col">SLP(total)</th>
            <th scope="col">Average</th>
            <th scope="col">Ganancia</th>
            <th scope="col">Ultimo Pago</th>
            <th scope="col">Próximo Pago</th>
          </tr>
        </thead>
        <tbody id="tabla">
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="explicacion">        
  <hr class="featurette-divider">
  <div class="row text-white">
    <div class="col-md-8">
      <h3>Lista de espera:</h3>
      <ol class="fs-4">
        <li>maku</li>
      </ol>
      <h4>Pronto más...</h4>
    </div>      
  </div>
  <hr class="featurette-divider">
</section>
{% endblock contenido %}

{% block scriptWeb %}
<script>
  function get_slp_price () {
    var slp_price = 0;    
    fetch("https://api.coingecko.com/api/v3/simple/price?ids=smooth-love-potion&vs_currencies=usd", {
      "method": "GET",
      "accept": "application/json",
    })
    .then(response => response.json())
    .then(data => {
      slp_price = data["smooth-love-potion"]["usd"];
      document.querySelector('#slp_precio').innerHTML = "≈" + slp_price + " USD"
      const wallets = ["0x03ae674003626b4082e430f3820b67baf4062e11", "0xe1abb6d52183d5f4ae6bc15f71b2f14a21b7d664", "0x852b26a2674c9947941a50716a06d67eb97ddfca", "0x9ddf75c370996ba50b9073a0f1f5528a287a1ab9"];
      for (let i = 0; i < wallets.length; i++) {
        fetch("https://axie-infinity.p.rapidapi.com/get-update/" + wallets[i] + "?id=" + wallets[i], {
          "method": "GET",
          "headers": {
            "x-rapidapi-host": "axie-infinity.p.rapidapi.com",
            "x-rapidapi-key": "339b115b24mshd9f46924ce40dc2p197cbejsn6cb7324e3d67"
          }
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.hasOwnProperty("leaderboard")) {
            leaderboard = data["leaderboard"]
          } else {
            leaderboard = {"name": wallets[i], "elo": "No Encontrado"}
          };
          slp = data["slp"];
          /* aventura = data["adventure"]; */
          document.querySelector('#jugador'+i).innerHTML = leaderboard["name"];
          mmr = leaderboard["elo"];
          document.querySelector('#mmr'+i).innerHTML = mmr;
          if (mmr < 999) {
            slp_victoria = 1;
          } else if (mmr <1100) {
            slp_victoria = 3;
          } else if (mmr <1300) {
            slp_victoria = 5;
          } else if (mmr <1500) {
            slp_victoria = 6;        
          } else if (mmr <1800) {
            slp_victoria = 8;
          } else if (mmr <2000) {
            slp_victoria = 10;
          } else if (mmr <2500) {
            slp_victoria = 12;
          } else {
            slp_victoria = 14;
          };
          document.querySelector('#copas'+i).innerHTML = slp_victoria + " X victoria";
          document.querySelector('#arena'+i).innerHTML = slp["todaySoFar"];
          /* document.querySelector('#arena'+i).innerHTML = (slp["todaySoFar"] - aventura["gained_slp"]);
          document.querySelector('#aventura'+i).innerHTML = aventura["gained_slp"]; */
          document.querySelector('#ganancia-hoy'+i).innerHTML = "≈" + Number(slp["todaySoFar"] * slp_price).toFixed(2) + " USD";
          document.querySelector('#slp-ayer'+i).innerHTML = slp["yesterdaySLP"];
          document.querySelector('#ganancia-ayer'+i).innerHTML = "≈" + Number(slp["yesterdaySLP"] * slp_price).toFixed(2) + " USD";
         var fecha = Math.floor(new Date().getTime());
          var saco = new Date(slp["lastClaimedItemAt"] * 1000);
          var diferencia = (fecha - saco) / (1000 * 60 * 60 *24);
          var dias = Math.round(diferencia);
          total = slp["total"] - slp["claimableTotal"];
          document.querySelector('#slp-total'+i).innerHTML = total + " (" + dias + " dias)";
          document.querySelector('#ganancia-total'+i).innerHTML = "≈" + Number(total * slp_price).toFixed(2) + " USD";
          if (dias != 0) {
            var promedio = Math.round(total / dias)
          } else {
            var promedio = 0
          }
          document.querySelector('#average'+i).innerHTML = promedio + " SLP x día";
          document.querySelector('#ganancia-average'+i).innerHTML = "≈" + Number(promedio * slp_price).toFixed(2) + " USD";
          if (promedio <= 40) {
            var porciento = 20;
          } else if (promedio <= 60) {
            var porciento = 30;
          } else if (promedio <= 80) {
            var porciento = 35;
          } else if (promedio <= 100) {
            var porciento = 40;
          } else if (promedio <= 120) {
            var porciento = 45;
          } else {
            var porciento = 50;
          };
          document.querySelector('#rendimiento'+i).innerHTML = porciento + "%";
          slp_becado = total * porciento / 100;
          var valor_slp_manager = parseInt(document.getElementById("slp-manager").textContent);
          if (valor_slp_manager != null) {
            slp_manager = valor_slp_manager + (total - slp_becado);
            document.querySelector('#slp-manager').innerHTML = Math.round(slp_manager);
            document.querySelector('#ganancia-manager').innerHTML = " ≈" + Number(slp_manager * slp_price).toFixed(2) + " USD";
          };          
          document.querySelector('#ganancia'+i).innerHTML = Math.round(slp_becado) + " SLP";
          document.querySelector('#ganancia-ganancia'+i).innerHTML = " ≈" + Number(slp_becado * slp_price).toFixed(2) + " USD";
          document.querySelector('#ultimo-pago'+i).innerHTML = saco.getDate() + "/" + (saco.getMonth() + 1) + "/" + saco.getFullYear();
          var proximo_pago = saco.setDate(saco.getDate() + 14);
          var countDownDate = new Date(proximo_pago).getTime();
          var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            document.querySelector('#proximo-pago'+i).innerHTML = days + "d-" + hours + "h " + minutes + "m ";
            if (distance < 0) {
                clearInterval(x);
                document.querySelector('#proximo-pago'+i).innerHTML = "Puede Reclamar";
            }
            }, 1000);     
          document.querySelector('#jugador-nombre'+i).style.display = "";
          document.querySelector('#copa'+i).style.display = "";    
          document.querySelector('#arenaIcon'+i).style.display = "";
          /* document.querySelector('#aventuraIcon'+i).style.display = ""; */    
          var loader = document.querySelector('#loader'+ i);
          if (loader != null) {
            loader.style.display = "none";
          };
        })
        .catch(err => {
          console.error(err);
        });
      }
    })
    .catch(err => {
      console.error(err);
      Swal.fire({
        title: "Upss!!",
        text: "Ocurrió un error en la conexión y no se pudieron obtener sus datos",
        icon: "error",
        confirmButtonColor: '#d33',
      });
      document.querySelector('#loader0').style.display = "none";
      document.querySelector('#loader1').style.display = "none";
      document.querySelector('#loader2').style.display = "none";
      document.querySelector('#loader3').style.display = "none";      
    });
  };
  
  get_slp_price();

  function get_slp_price2 () {
    var slp_price = 0;
    fetch("https://api.coingecko.com/api/v3/simple/price?ids=smooth-love-potion&vs_currencies=usd", {
      "method": "GET",
      "accept": "application/json",
    })
    .then(response => response.json())
    .then(data => {
      slp_price = data["smooth-love-potion"]["usd"];
      document.querySelector('#slp_precio').innerHTML = "≈" + slp_price + " USD"
      const wallets = ["0x632ba8b593d19190a5df2f72b80825f450af957a", "0x441d21b7b3db676551c41ecf02d7fcfc0f08906a", "0xfdbb86c8ccb57b47d201645900da4f9c6a0edffd", "0x58d7038e436951b45b99d9aa7eb3623336e5e80f"];
      for (let i = 0; i < wallets.length; i++) {
        fetch("https://axie-infinity.p.rapidapi.com/get-update/" + wallets[i] + "?id=" + wallets[i], {
          "method": "GET",
          "headers": {
            "x-rapidapi-host": "axie-infinity.p.rapidapi.com",
            "x-rapidapi-key": "339b115b24mshd9f46924ce40dc2p197cbejsn6cb7324e3d67"
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.hasOwnProperty("leaderboard")) {
            leaderboard = data["leaderboard"]
          } else {
            leaderboard = {"name": wallets[i], "elo": "No Encontrado"}
          };
          slp = data["slp"];
          var tabla = document.querySelector('#tabla');
          var fila = document.createElement('tr'); 
          var numero = document.createElement('th');
          var jugador = document.createElement('td');
          var arena = document.createElement('td');
          var slp_hoy = document.createElement('td');
          var slp_ayer = document.createElement('td');
          var slp_total = document.createElement('td');
          var average = document.createElement('td');
          var ganancia = document.createElement('td');
          var ult_pago = document.createElement('td');
          ult_pago.className = "fs-5";
          var prox_pago = document.createElement('td');
          prox_pago.className = "fs-5";
          numero.innerHTML = i;    
          jugador.innerHTML = leaderboard["name"];
          arena.innerHTML = leaderboard["elo"];
          slp_hoy.innerHTML = slp["todaySoFar"];
          slp_ayer.innerHTML = slp["yesterdaySLP"];
          total = slp["total"] - slp["claimableTotal"];
          var fecha = Math.floor(new Date().getTime());
          var saco = new Date(slp["lastClaimedItemAt"] * 1000);
          var diferencia = (fecha - saco) / (1000 * 60 * 60 *24);
          var dias = Math.round(diferencia);
          slp_total.innerHTML = total + " (" + dias + " dias)";
          if (dias != 0) {
            var promedio = Math.round(total / dias)
          } else {
            var promedio = 0
          }
          average.innerHTML = promedio + " SLP x día";          
          ganancia.innerHTML = " ≈" + Number(total * slp_price).toFixed(2) + " USD";
          ult_pago.innerHTML = saco.getDate() + "/" + (saco.getMonth() + 1) + "/" + saco.getFullYear();
          var proximo_pago = saco.setDate(saco.getDate() + 14);
          var countDownDate = new Date(proximo_pago).getTime();
          var x = setInterval(function() {
          var now = new Date().getTime();
          var distance = countDownDate - now;
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          prox_pago.innerHTML = days + "d-" + hours + "h " + minutes + "m ";
          if (distance < 0) {
              clearInterval(x);
              prox_pago.innerHTML = "Puede Reclamar";
          }
          }, 1000);
          fila.appendChild(numero);
          fila.appendChild(jugador);
          fila.appendChild(arena);
          fila.appendChild(slp_hoy);
          fila.appendChild(slp_ayer);
          fila.appendChild(slp_total);
          fila.appendChild(average);
          fila.appendChild(ganancia);
          fila.appendChild(ult_pago);
          fila.appendChild(prox_pago);
          tabla.appendChild(fila);
        })
        .catch(err => {
          console.error(err);
        });
      }
    })
    .catch(err => {
    console.error(err);
    });
  };
  
  get_slp_price2();
</script>
{% endblock %}