{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'portal/favicon.ico' %}"/>
    <meta name="description" content="Informacion sobre Qbared, red privada de centro habana.">
    <meta name="author" content="iVan">
    <link rel="stylesheet" href="{% static 'web/bootstrap5.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/style.css' %}">
    <title>QbaRed</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'web:noticias' %}">Noticias</a>
              </li>              
            </ul>                         
            <a style="margin-right: 10px;" class="btn btn-sm btn-outline-primary" href="https://login.qbared.com">Internet</a>
            <a class="btn btn-sm btn-outline-success" href="{% url 'portal:index' %}">Portal del Usuario</a>          
          </div> 
        </div>
      </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}    
      <footer class="container" style="text-align: center;">
        <i class="bi bi-arrow-up-circle"></i>
        <p class="float-end"><a href="#">Subir</a></p>
        <p>&copy; 2019–2021 Qbared</p>
      </footer>
    </main>
    <script src="{% static 'web/bootstrap5.0/jquery.min.js' %}"></script>
    <script src="{% static 'web/bootstrap5.0/popper.min.js' %}"></script>
    <script src="{% static 'web/bootstrap5.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/bootstrap5.0/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>