{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'portal/favicon.ico' %}"/>
    <meta name="description" content="Informacion sobre Qbared, red privada de centro habana.">
    <meta name="author" content="iVan">
    <link href="{% static 'web/bootstrap5.0/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'web/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'web/style.css' %}">
    <title>QbaRed{% block title %}{% endblock %}</title>
  </head>
  <body>    
    <div id="particles-js"></div>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="transition: top 200ms ease-in-out;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'web:index' %}">QbaRed</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="navbar-link" href="{% url 'forum:index' %}">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="navbar-link" href="{% url 'sorteo:index' %}">Sorteo</a>
              </li>              
            </ul>                         
            <a style="margin-right: 10px;" class="btn btn-sm btn-outline-primary" href="https://login.qbared.com">Internet</a>
            <a class="btn btn-sm btn-outline-success" href="{% url 'portal:index' %}">Portal del Usuario</a>          
          </div> 
        </div>
      </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}    
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(25,25,25,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(25,25,25,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(25,25,25,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="rgb(25, 25, 25)" />
        </g>
      </svg>
    </div>
    <footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3"><h7>2019-2021 © QbaRed</h7>
    </div>
    </footer>
    </div>
    </main>
    <!--Particles-->
    <script src="{% static 'web/root/particles.min.js' %}"></script>
    <script src="{% static 'web/root/particles-run.js' %}"></script>
    
    <script src="{% static 'web/myjs.js' %}"></script>
    <script src="{% static 'web/bootstrap5.0/js/popper.min.js' %}"></script>
    <script src="{% static 'web/bootstrap5.0/js/bootstrap.min.js' %}"></script>
  </body>
</html>