{% extends "web/base.html" %}
{% load static %}
{% block title %} - Emby{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'web/webstyle.css' %}">
<div class="fondo" style="background-color: rgba(8, 110, 11, 0.5);"></div>
<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row info">
    <div class="col-md-8 order-md-2">
        <h2>Emby.</h2>    
        <p>
            Emby es un servidor multimedia desde el cual puedes visualizar contenido en tus dispositivos mediante stream directo.
            Animados, animes, películas, series y todo el paquete semanal.
        </p>
    </div>
    <div class="col-md-4 order-md-1">
        <img src="{% static 'web/embymain.png' %}" class="img-fluid" alt="Responsive image" width="300" height="300"> 
    </div>
    </div>
    <hr class="featurette-divider">   
    <div class="row info">
        <div class="col-md-8">
            <h2>Entre al emby desde el siguiente link:</h2>        
        </div>
        <div class="col-md-4 text-center">
            <a href="http://172.16.0.10:8096">
                <button class="btn btn-success">emby.qbared.com</button>
            </a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row info">
        <div class="col-md-8">
            <h2>Cree su cuenta en el Portal del Usuario:</h2>           
        </div>        
        <div class="col-md-4 text-center">
            <a href="{% url 'portal:emby' %}"><button class="btn btn-success">Portal</button></a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row info">
        <div class="col-md-8">
        <h4 >Ayuda!!!</h4>
        <p class="lead">En el video se explica como utilizarlo.</p>
        </div>
        <div class="col-md-4" >
        <img src="" class="img-fluid" alt="Pronto"> 
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock content %}