{% extends "web/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'web/webstyle.css' %}">
<div id="myCarousel" class="carousel slide col-10 offset-1 col-lg-8 offset-lg-2" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'web/root/slidehabana.jpg' %}" class="img-fluid" alt="Responsive image">       
      <div class="container">
        <div class="carousel-caption text-start" style="color:black">
          <h1 style="font-style: italic; font-weight: 700; text-shadow: 0 0 3px red, 0 0 6px yellow;">Bienvenidos a QbaRed</h1>
          <p style="font-style: italic; font-weight: 600; text-shadow: 0 0 3px red, 0 0 6px yellow;">Red Privada de Centro Habana, Cuba</p>
          <p style="font-style: italic; font-weight: 600; text-shadow: 0 0 3px red, 0 0 6px yellow;"><a style="box-shadow: 0 0 3px red, 0 0 6px yellow;" class="btn btn-lg btn-warning" href="{% url 'portal:index' %}">Unirme</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'web/root/slidedota2.jpg' %}" class="img-fluid" alt="Responsive image">        
      <div class="container">
        <div class="carousel-caption">
          <h1 style="font-style: italic; font-weight: 700;">Juega Online</h1>
          <p style="font-style: italic; font-weight: 600;">Compite con todos por ganar y ser el mejor</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'portal:index' %}">Unirme</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'web/jcslide.jpg' %}" class="img-fluid" alt="Responsive image">        
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container servicios">
  <div class="row">
      <h1 class="text-center" style="text-shadow: 0 0 3px white, 0 0 6px;">Nuestros Servicios</h1>
      <div class="col-lg-3">
          <img src="{% static 'web/ts.png' %}" class="rounded-circle" alt="Responsive image" width="120" height="120">
          <h2 style="color: grey">Team Speak</h2>
          <p>Hablar con tus amigos.</p>
          <p><a class="btn btn-secondary stretched-link" href="{% url 'web:ts' %}" role="button">¿Como usarlo? &raquo;</a></p>
      </div>
      <div class="col-lg-3">
        <img src="{% static 'web/ftp.png' %}" class="rounded-circle" alt="Responsive image" width="120" height="120">
          <h2 style="color: red">FileZilla</h2>
          <p>Descargar archivos.</p>
          <p><a class="btn btn-danger stretched-link" href="{% url 'web:ftp' %}" role="button">¿Como usarlo? &raquo;</a></p>
      </div>
      <div class="col-lg-3">
        <img src="{% static 'web/jc.png' %}" class="rounded-circle" alt="Responsive image" width="120" height="120">
          <h2 style="color: rgb(23, 23, 184)">Joven Club</h2>
          <p>Conecta con toda Cuba.</p>
          <p><a class="btn btn-primary stretched-link" href="{% url 'web:jc' %}" role="button">¿Como usarlo? &raquo;</a></p>
      </div>   
      <div class="col-lg-3">
        <img src="{% static 'web/emby.png' %}" class="rounded-circle" alt="Responsive image" width="120" height="120">
          <h2 style="color: green">Emby</h2>
          <p>Stream multimedia.</p>
          <p><a class="btn btn-success stretched-link" href="{% url 'web:emby' %}" role="button">¿Como usarlo? &raquo;</a></p>
      </div>
  </div>
</div>
  <hr class="featurette-divider">
<div class="container detalles">
  <div class="row featurette" style="background-color: rgba(27, 25, 25, 0.8); padding: 10px; box-shadow: 5px 5px 5px 1px;">
    <div class="col-md-7" style="color: white;">
      <h2 class="featurette-heading">¿Quienes somos?</h2>
      <br>
      <p class="lead" style="font-size: 20px;">Desde septiembre de 2019 en nuestro país se permitió la creación de redes privadas para compartir
        en una comunidad digital, o navegar por el inmenso mundo del internet desde la comodidad de su casa, según las resoluciones 98 y 99 del Ministerio de las Comunicaciones(Mincom) para la organización y legalización de comunidades interconectadas inalámbricamente o cableadas. 
        Nosotros bajo la licencia No: SC-627-00003858-19 constituimos la nuestra, con el objetivo de compartir información, mensajes de texto y voz, y muy importante jugar DOTA2, y otros juegos.</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'web/root/square1.jpg' %}" style="height:500px; width: 500px; border-radius: 25%;" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette" style="background-color: rgba(77, 180, 228, 0.8); padding: 10px; box-shadow: 5px 5px 5px 1px rgb(77, 180, 228)">
    <div class="col-md-7 order-md-2" style="color: black;">
      <h2 class="featurette-heading">¿Donde estamos?</h2>
      <br>
      <p class="lead" style="font-size: 25px;">Nos encontramos en los consejos populares Colón y San Leopoldo, del municipio Centro Habana. El área sombreada en el mapa representa aproximadamente nuestro alcance. Si no eres parte de esta red y vives cerca puedes unirte, todos son bienvenidos.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'web/root/square2.jpg' %}" style="height:500px; width: 500px; border-radius: 50%;" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7" style="color: black;">
      <h2 class="featurette-heading">Importante</h2>
      <br>
      <p class="lead" style="font-size: 25px;">En la red no se permite ningún tipo de propaganda sobre política, religión o sexo. Esta creada para el disfrute y entretenimiento de todos, asi como todos aportan a la estructuración de la misma. No tiene fines comerciales, ni de lucro personal.</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'web/root/warning.jpg' %}" style="height:500px; width: 500px; border-radius: 25%;" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <hr class="featurette-divider">
</div> 
{% endblock content %}
