{% extends "web/baseWeb.html" %}
{% load static %}
{% block title %} - Joven Club{% endblock %}
{% block contenido %}
<section class="descripcion">
  <div class="row">
      <div class="col-md-4 order-md-1 p-4 text-center" data-aos="fade-right">
          <img src="{% static 'web/images/servicio_jc.jpg' %}" class="img-fluid" alt="Responsive image" style="height: 200px;"> 
      </div>
      <div class="col-md-8 order-md-2 d-flex" data-aos="fade-left">
          <p class="text-white fs-4">
            Para acceder a la red Joven Club debe tener una cuenta activada en el JC de la Habana Vieja y tener activo 
            el servicio en la red local. Para mas información escribir al <a href="{% url 'chat:room' 'yanky' %}">Yanky</a>.
          </p>
      </div>      
  </div>
</section>
<section class="descargas">
  <div class="row">
    <div class="d-flex justify-content-between mt-4 fs-4">
      <h2 data-aos="fade-right">Puede activar su cuenta en el Portal del Usuario:</h2> 
      <a href="{% url 'portal:jovenclub' %}" data-aos="fade-left">
          <button class="boton">Portal</button>
      </a>        
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="d-flex justify-content-between mt-4 fs-4">
      <h2 data-aos="fade-right">Servidor de TS de Habana Vieja: 10.89.199.25</h2>           
      <a href="ts3server://10.89.199.25" data-aos="fade-left">
        <button class="boton">Vikingos</button>
      </a>          
    </div>
  </div>
</section>
<section class="explicacion">        
  <hr class="featurette-divider">
  <div class="row text-white">
    <div class="col-md-8">
      <h4 >Ayuda!!!</h4>
      <p class="lead">Pronto un video sobre como instalar y conectarse.</p>
    </div>      
  </div>
  <hr class="featurette-divider">
</section>
{% endblock contenido %}