.fondo {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.contenedor {
    top: 60px;
    position: relative;
    padding-bottom: 150px;    
    bottom: -100px;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.box {
    border: solid 1px rgba(90, 85, 32, 0.4);    
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 15px 5px rgba(25, 25, 25, 0.4);
    margin: 10px;
    font-style: italic;
    color:rgb(0, 0, 0)
}

.box h1:hover {
    cursor: default;
    color: white;
    transform: scale(1.1)
}

.box .fecha {
    cursor: default;
    text-align: right;
    padding-right: 30px;
}

.box p {
    padding: 30px;
}
.box p:hover {
    cursor: default;
    color: white;
}
.contenido {
    min-height: 300px;
}

.imagenes {    
    margin: 30px;
    text-align: center;
}

.imagenes img {
    margin: 10px;    
    max-width: 200px;
    border-radius: 10px;
}
.imagenes img:hover {
    transform: scale(1.1)
}
