.fondo {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor {
    margin-top: 40px;
    margin-bottom: 150px;
    min-height: calc(100vh - 300px);    
}

.logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 3rem;
}

.box {
    border: solid 1px rgba(90, 85, 32, 0.4);
    border-radius: 5px;
    background-color: rgba(187, 180, 156, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 15px 5px rgba(25, 25, 25, 0.4);
    font-style: italic;
    color:rgb(0, 0, 0)
}

.contenido {
    min-height: 300px;
}

.imagenes img {
    margin: 10px;    
    max-width: 200px;
    border-radius: 10px;
}
.imagenes img:hover {
    transform: scale(1.1)
}

.seccion {
    background-color: rgb(50, 50, 50);
    border-radius: 6px;
    border: solid 1px;
    margin: 15px;
    padding: 10px;
}
